/**
 * These colors are specifically defined for all websites that must follow design rules
 */

$color-design-one: #666a74;
$color-design-two: #52565f;
$color-design-three: #454952;

$color-design-origin: #85b44c;
$color-design-destination: #e9662e;

$color-design-error: #ff0000;
$color-design-warning: #ffcc00;
$color-design-info: #0000ff;
$color-design-success: #00ff00;