@font-face {
    font-family: 'Proxima Nova Thin';
    src:url('../fonts/proxima_nova/proxima_nova_thin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Black';
    src:url('../fonts/proxima_nova/proxima_nova_black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src:url('../fonts/proxima_nova/proxima_nova_rg.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src:url('../fonts/proxima_nova/proxima_nova_bold.otf');
    font-weight: normal;
    font-style: normal;
}