<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn alt">Alternate Button</a></p>
<p><a href="#" class="btn disabled">Disabled Button</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>
<p><a id="sitemap-button" href="#sitemap" class="link-block sitemap-button"> Plan du site <span class="arrow"><span class="icon-arrow-top-white"></span></span></a></p>