<a href="#" class="btn">Button</a>

<p>
    <a id="sitemap-button" href="#sitemap" class="link-block sitemap-button">
        Plan du site <span class="arrow"><span class="icon-arrow-top-white"></span></span>
</a>
</p>

<p>
    Span Bouton avec icone
    <span class="btn btn-icon">
        Lire la suite
        {{> icon-blabla}}
        <span class="icon-arrow-right"></span>
    </span>
</p>
<p>
    Bouton icone
    <button type="button" class="ui-datepicker-trigger" aria-haspopup="true" title="Ouvrir le calendrier">
        {{> atoms-icon-action-calendar }}
        <span class="icon-action-calendar" title="Ouvrir le calendrier"></span>
        <span class="sr-only">Ouvrir le calendrier</span>
    </button>
</p>

<p>
    Lien "button icon" like
    <a href="#" title="Inverser le départ et l'arrivée">
        <span class="sr-only">Inverser le départ et l'arrivée</span>
        <span class="icon-journey-reverse"></span>
    </a>
</p>
