<div class="content-element element-type-content-link col-2 block-style-2 shade shade-bottom-left">
    <a class="default btn-block inner-shade" href="#">
        <div class="bg-color-default clearfix">
            <p>
                <button type="button" class="btn" title="{{ icon.journey.reverse }}">
                    {{> atoms-calendar-icon }}
                    <span class="sr-only">Changez de sens</span>
                </button>
            </p>
            <p>
                <span class="btn btn-icon right">
                    <span class="icon-arrow-right"></span>
                </span>
            </p>
        </div>
    </a>
</div>