<div class="content-element element-type-content-link col-3 block-style-2 shade shade-bottom-left">
    <a class="default btn-block inner-shade" href="#">
        <div class="bg-color-default clearfix">
            <p>
                <button type="button" class="btn only-icon keolis-icon-calendar" title="{{ icon.journey.reverse }}">
                    <span class="sr-only">{{ label.date }}Changer une date</span>
                </button>
            </p>
            <p class="clearfix">
                <button class="btn only-icon keolis-icon-arrow-right right"></button>
            </p>
            <p>
                <button class="btn btn-icon keolis-icon-arrow-right">{{ label.example }}</button>
            </p>
        </div>
    </a>
</div>