<div class="content-element element-type-content-link col-3 block-style-2 shade shade-bottom-left">
    <a class="default btn-block inner-shade" href="#">
        <div class="bg-color-default clearfix">
            <p>
                {% include 'atoms-button-standard' with {
                    label: "button.backgrounded.label",
                    attributes: {
                        type: "button",
                        class: "btn only-icon keolis-icon-calendar",
                        title: "icon.journey.reverse"
                    }
                } only %}
            </p>
            <p class="clearfix">
                {% include 'atoms-button-standard' with {
                    attributes: {
                        type: "button",
                        class: "keolis-icon-arrow right btn only-icon"
                    }
                } only %}
            </p>
            <p>
                {% include 'atoms-button-standard' with {
                    label: "example",
                    attributes: {
                        type: "button",
                        class: "btn keolis-icon-arrow"
                    }
                } only %}
            </p>
        </div>
    </a>
</div>