{{> organisms-header }}
<div class="main-container container" id="ctp-content">
    <div class="main content-row clearfix">
        {{> organisms-search-iti }}
        <div class="col-10 col-md-8">
            <img src="../../images/map.png"  alt="map" class="pattern-images" />
        </div>
    </div>
</div>
