.accordion {
    margin-bottom: $space;
    & > li {
        border-bottom: 1px solid $color-grey-light-5;
    }
    &.th0 {
        & > li {
            border: 1px solid $color-grey;
            background-color: $color-white;
        }
    }

}

.acc-handle {
    background: $color-button-background;
    color: $color-button-foreground;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: $pad $pad-double $pad $pad;
    position: relative;

    &:after {
        position: absolute;
        content:">";
        top: 50%;
        right: $pad;
        @include transform(translate(50%, -50%) rotate(90deg));
        @include transition(transform, 0.5s, ease-out);
    }

    &:hover {
        color: $color-button-foreground-hover;
        background-color: $color-button-background-hover;
    }

    &.active {
        color: $color-button-foreground-hover;
        background: $color-button-background-hover;

        &:after {
            @include transform(translate(50%, -50%) rotate(270deg));
        }
    }
}

.acc-panel {
    padding: $pad;
}
.state-active {
    &.acc-panel-border {
        border: 1px solid $color-button-background;
    }
}

/************* style th0 ****************/
.th0 {
    .acc-handle {
        background: $color-white;
        color: $color-grey;

        &:after {
            font-family: "keolis-icons";
            content: $icon-arrow-right;
            top: 50%;
            color: $color-main;
        }

        &:hover {
            color: $color-main;
            background-color: $color-white;
        }

        &.active {
            color: $color-grey;
            background: $color-white;
        }
    }
}