.element-type-article {
    overflow: hidden;
    .element-style-table {
        display: table;
        .article-link {
            display: table-cell;
        }
    }
    .element-style-link {
        width: 100%;
        vertical-align: middle;
        background-color: $color-article-summary-background;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        padding: 0 !important;
        position: relative;

        .article-link {
            vertical-align: middle;

            .preface {
                position: relative;
                background-color: $color-article-summary-background;
                top: 0;
                left: 0;
                width: auto;

                .article-title {
                    font-size: 0.875em;
                }
                .article-title,
                .article-description {
                    margin-bottom: $space-half;
                }
                .btn {
                    color: $color-article-summary-background;
                }
            }

            h1, h2, h3, h4, h5, h6 {
                color: $color-link-block-one-foreground;
            }

            &:not(.no-image) {
                .preface {
                    margin: 1em 1em 1em 0;
                    @media all and (min-width: $bp-xl) {
                        width: 65%;
                    }
                }
            }
        }
    }
    .element-style-default {
        .publication-date {
            @include font-size(0.8);
            color: $color-second;
        }
    }
}