/*------------------------------------*\
    $Block
\*------------------------------------*/

// block search
.block-search {
    padding: 1em;
    input {
        width: 100%;
        margin-bottom: 1em;
        border: medium none;
        border-radius: 0.15em;
        padding: 0.25em;
    }
}

// block sm 2
.block-sm-2 {
    width: 100%;
    padding : 1em;
    @media all and (min-width: $bp-med-2) {
        width: 18%;
        padding : 0;
    }
}

// block
.block-color-default {
    & > div > div {
        padding: 0.5em;
    }
}
.block-style-1 {
    @include block-style($color-link-block-one-background, $color-link-block-one-foreground);
}
.block-style-2 {
    @include block-style($color-link-block-two-background, $color-link-block-two-foreground);
}
.block-style-3 {
    @include block-style($color-link-block-three-background, $color-link-block-three-foreground);
}

//preface
.preface {
    left: 1em;
    position: absolute;
    top: 1em;
    width: 12em;
    z-index: 100;
    min-height: 5em;
    &.preface-default {
        padding: 1em;
    }
    .title-light {
        line-height: 1.25em;
        margin: 0.5em 0;
    }
}
.element-type-content-link {
    .btn-block > img {
        display: block;
        height: auto;
        z-index: 1;
        width: 100%;
    }
}