/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
input[type=submit].btn, button.btn, a.btn, .btn {
    font-size: $font-size-small-2;
    font-family: $font;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $black;

    display: inline-block;
    z-index: 1;
    padding: 0.75em 1em;
    background: $white;
    border: none;
    @include border-radius(0.15rem);

    cursor: pointer;

    &:hover, &:focus {
        background: darken($white, 5%);
        color: $black;
    }

    &:after, &:before {
        font-weight: normal;
        font-family: 'keolis-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
    }

    &:not(.only-icon):after {
        margin-left: $space-quarter;
    }
    &:not(.only-icon):before {
        margin-right: $space-quarter;
    }

    & * {
        cursor: pointer;
    }

    &.disabled {
        background: $gray-light-2;
        color: $gray;
        cursor: default;
    }

    &.btn-social {
        background-color: none;
    }

    &.secondary {
        background-color: $color-second;
        color: $white;
        &:hover, &:focus {
            background: $color-second-highlight;
            color: $font-color-contrast-second-highlight;
        }
    }

    &.btn-highlight {
        background: $color-second;
        color: $font-color-contrast-second;
    }
    &.full-width {
        width: 100%;
    }
    &.btn-default {
        border: 1px solid $gray-light-3;
        padding: 1em 1em;
        margin: 0 0.25em 0.5em 0;
        line-height: 1em;
        &:hover {
            background-color : $gray-light-3;
        }
    }
}
.btn-small {
    padding: 0.5em !important;
    [class^="keolis-icon-"], [class*=" keolis-icon-"] {
        font-size: 1em;
    }
}
.input-group-btn {
    .btn {
        padding: 0.54em;
        border: 1px solid #d9d9d9;
    }
}
.btn-favoris {
    .icon-arrow-top-white {
        @include transform(rotate(180deg));
        display: inline-block;
        margin-left: 0.5em;
    }
}
.group-date {
    .ui-datepicker-trigger {
        padding: 0.4em;
        &.input-icons {
            padding: 0;
            @include font-size(1.25);
            border: none;
            background: none;
        }
    }
    &.with_label {
        .ui-datepicker-trigger {
            &.input-icons {
                padding-top: 1.5em;
            }
        }
    }
}
.journey-reverse {
    position: relative;
    a {
        left: 0;
        position: absolute;
        top: 0.85em;
        @include font-size(1.85);
        padding: 0 0.25em;
        color: $black;
        &:hover {
            color: $color-second;
        }
    }
}