/**
        === Content ===
**/
.content-row {
    @include content-row;
    @include clearfix;
}

.content-block {
    margin-bottom: 0 !important;
    iframe {
        width: 100%;
        display: block;
    }
}

.content-element {
    padding: 0em+$grid-gutter-width;
    [class^="element-style-"],
    [class*="element-style-"] {
        &:not(.element-style-blank) {
            padding: 1em;
        }
    }
}

.content-page {
    .content-element {
        .element-style-default {
            .text {
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 1.5em;
                }
                h3 {
                    font-size: 1.17em;
                }
                h4 {
                    font-size: 1em;
                }
                h5 {
                    font-size: 0.83em;
                }
                h6 {
                    font-size: 0.67em;
                }
                a {
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
                ul {
                    list-style: none;
                    ul {
                        padding-left: 2em;
                    }
                }
                li:before {
                    content: "•";
                    padding-right: 0.75em;
                    font-size: 2em;
                    color: black;
                }
                p, ul, ol {
                    margin-bottom: 0;
                    line-height: 1.25em;
                }
                #{headings()} {
                    font-weight: bolder;
                    margin-bottom: $space;
                    margin-top: $space;
                    color: $color-grey-dark;
                }
            }
            .title {
                font-family: 'Museo';
                @include font-size(1.75);
                text-transform: uppercase;
                margin: 0;
                padding: 0.25em 0 0.25em 0;
                color: $color-h1;
                font-weight: normal;
            }
        }
    }
    .element-type-paragraph {
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

p#estimate-confirmation, a#estimate-back-home {
    margin-left: 1em;
}

.block-fix {
    padding: 1em;
}

.marginfix {
    margin-left: 1em;
    margin-right: 0.70em;
}

.homepage {
    .field-container{
        &.autocomplete {
            float: none;
            margin: 0 0 1em;
            width: 100%;
        }
    }
    .content-row.clearfix {
        @include breakpoint($bp-med-2 $bp-large-2) {
            margin-top: 3.5em;
        }
    }
}

