/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer-container {
    background-color: $color-footer-background;
    margin-top: 1em;

    [class*="hr-"],
    [class^="hr-"]  {
        border-color: $color-separator;
    }

    a {
        color: $color-link-inverted;
        background: none;

        &:hover {
            background: none;
            color: $color-link-inverted-hover;
        }

        [class^="icon-"], [class*=" icon-"] {
            cursor: pointer;
        }
    }

}

// navigation footer
.footer-nav {

    .icon-parking::before,
    .icon-facebook::before,
    .icon-twitter::before {
        content: "";
    }
    [class*=" block-"] ,
    [class^="block-"]  {
        & > ul, & > h3,
        & > div {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
    .link-block {
        padding: 0.5em 1em;
        text-decoration:none;
        text-align: right;
        & > .sitemap-toggle {
            background: #454952;
            display: inline-block;
            margin-left: 0.875em;
            text-align: right;

            &:hover,
            &.active {
                [class^="keolis-icon-arrow"] {
                    @include transform(rotate(90deg));
                }
                &.active:hover {
                    [class^="keolis-icon-arrow"] {
                        @include transform(rotate(270deg));
                    }
                }
                border-bottom: 0;
            }

            [class^="keolis-icon-arrow"] {
                color: white;
                @include transition(all, 0.5s, ease-out);
            }
        }
    }
}
// nav list social network
.nav-social-network {
    padding: 0.95em 0;
    line-height: 1.25em;
    @include breakpoint(max-width $bp-med) {
        padding: 0 0.5em;
    }
    & > li {
        display: block;
        text-align: center;
        padding: 0 0.5em;
        width: 20%;
        a {
            padding: 0.75em 0;
            width: 100%;
            @include transition(all, 0.2s, ease-out);
            &:hover {
                padding-top: 0;
            }
        }
    }
    & > li [class*=" keolis-icon-"],
    & > li [class^="keolis-icon-"]  {
        vertical-align: middle;
        color: $color-link-inverted;
        font-size: 1.375em;
    }
    &.hr-left.hr-right {
        @include breakpoint(max-width $bp-med) {
            border-right: none;
            border-left: none;
            border-top: 1px solid;
            border-bottom: 1px solid;
        }
    }
}
// nav list icon mode
.nav-icon-mode {
    & > li {
        display: block;
        padding-left: 1em;
        margin-top: 0.25em;
    }
    & > li [class*=" icon-"],
    & > li [class^="icon-"]  {
        vertical-align: middle;
    }
}
// logo footer
.logo-footer {
    margin-right:1.5em;
    padding: 1em 0;
}
// sitemap
.sitemap {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h4 {
        margin-top: 1.250em;
        margin-bottom: 1.250em;
        text-transform: uppercase;
    }
    .simple-nav {
        & > li {
            margin-bottom: 0.25em;
        }
    }
}
// bottom footer
.footer-bottom {
    &.honrizontal-nav {
        padding: 1em 0;
    }
    &> li {
        border-left: 1px solid;
        font-size: 0.65rem;
        padding: 0 1em;
    }
    &> li:first-child {
        border-left: none;
        font-size: 0.65rem;
        padding: 0 1em;
    }
}

