/*------------------------------------*\
    $header
\*------------------------------------*/

.header-container {
    z-index: 1000;
    background-color: $color-header-background;
    margin-bottom: 1em;

    // @include breakpoint($bp-med-2) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    //}

    [class*="hr-"],
    [class^="hr-"]  {
        border-color: $color-grey-light-5;
    }

    & h1 {
        margin: 0;
        @include breakpoint(max-width $bp-med-2) {
            max-width: 70%;
        }
        @include breakpoint($bp-med-2 $bp-large-2) {
            max-width: 23%;
        }
    }

    & select[name="lang"] {
        padding: 0;
    }
}

.link-account {
    a {
        background-color: $color-button-background;
        color: $color-button-foreground;
    }
}

@include breakpoint(max-width $bp-med-2) {
    .top-nav  {
        display: none;
    }
}

.main-logo {
    img {
        max-width: 100%;
    }
    &.logo {
        display: block;
        height: image-height('logo.png');
    }
}

.switch-language {
    input.btn {
        width: 30%;
        float: right;
        padding: 0.25em;
    }
}