// icon
.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.icon-keolis-logo {
    display: inline-block;
    @include footer-sprite(keolis-logo);
    height: 28px;
    width: 100px;
}
.icon-bus,
.icon-bus_mobility,
.icon-metro,
.icon-bicycle,
.icon-parking,
.icon-train,
.icon-car {
    display: block;
    height: 28px;
    width: 28px;
}
.icon-bus {
    @include footer-sprite(bus);
}
.icon-bus_mobility {
    @include footer-sprite(bus_mobility);
}
.icon-metro {
    @include footer-sprite(metro);
}
.icon-bicycle {
    @include footer-sprite(bicycle);
}
.icon-parking {
    @include footer-sprite(parking);
}
.icon-train {
    @include footer-sprite(train);
}
.icon-car {
    @include footer-sprite(car);
}
.icon-twitter {
    background-position: -246px -170px;
    height: 16px;
    width: 18px;
}
.icon-facebook {
    background-position: -392px -52px;
    height: 23px;
    width: 13px;
}
.icon-youtube {
    background-position: -81px -124px;
    height: 18px;
    width: 26px;
}
.icon-flickr {
    background-position: -202px -224px;
    height: 20px;
    width: 20px;
}
.icon-arrow-top-white {
    background-position: -392px -214px;
    height: 8px;
    width: 11px;
}
// alt txt
.ctp-txt-alt {
    padding-right: 1em;
}