/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
    max-width: $max-width;
    margin: 0 auto;
    padding: $pad-half;
}

/**
=== container ===
**/

.main-container {
    padding-top: $space;
    background-color: $color-main-container-background;
}
// row
.ctp-row, .content-row {
    @include content-row;
}

// container , wrapper, iiner-wrapper
.ctp-container, .wrapper {
    @include container-fixed;
    width: 100%;
    /*@media all and (min-width: $bp-med-2) {
        width: 95%;
    }*/
    @media all and (min-width: $bp-xxxl) {
        width: 91em;
    }
}
.container {
    margin: 0 auto;
    width: 100%;
    @media all and (min-width: $bp-xxxl) {
        width: 91em;
    }
    &.inner-wrapper {
        width: 100%;
    }
}

.layout-fullpage {
    .content-row {
        margin-left: -0.25em;
        margin-right: -0.25em;
        margin-bottom: 1em;
    }
    [class*="col-"].content-block {
        margin: 0!important;
        min-height: 1px;
    }
}

// width-full
.width-full {
    width: 100%;
}
.width-half {
    width: 50%;
}
// block sm 10
.block-sm-10 {
    width: 100%;
    padding : 1em;
    @media all and (min-width: $bp-med-2) {
        width: 64%;
        padding : 0;
    }
}


[class^="col-"],
[class*=" col-"] {
    float: left;
}
[class^="col-"] {
    width: 100%;
}
// Absolute grid system
//
// Rows and Cols

@for $i from 1 through $grid-columns {
    /*******************/
    /* #{$i} column(s) */
    /*******************/
    $widthParent: percentage($i / $grid-columns);
    .col-#{$i} {
        width: 100%;
        @include breakpoint($breakpoint-m)  {
            width: $widthParent;
        }
        @for $j from 1 through $i {
            $widthChild: percentage($j / $i);
            & > .col-#{$j}, & > div > .col-#{$j} {
                width: 100%;
                @include breakpoint($breakpoint-m) {
                    width: $widthChild;
                }
            }
        }
    }
}

@for $i from 1 through $grid-columns {
    /****************/
    /* #{$i} row(s) */
    /****************/
    .row-#{$i} > div, .row-#{$i} > div > iframe, .row-#{$i} > .btn-block > div, .row-#{$i} > a {
        $minHeight: $grid-row-height * ($bp-xxxl / $bp-xl) * $i;
        min-height: #{$minHeight - $grid-gutter-width * 2}em;
        &.element-style-table {
            height: #{$minHeight - $grid-gutter-width * 2}em;
        }
        @include breakpoint(max-width $breakpoint-s) {
            $bp-medHeight: $grid-row-height * ($bp-small / $bp-xl) * $i;
            min-height: 6em;
            &.element-style-table {
                height: #{$bp-medHeight - $grid-gutter-width * 2}em;
            }
        }
    }
}


