/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

// nav principal
.main-nav {
    height: auto;
    display: none;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 100%;
    width: 100%;
    @include breakpoint($bp-med-2) {
        display: block;
        position: relative;
        top: 0;
    }
    li{
        border-bottom: 0.5em solid transparent;
        width: 100%;
        @include breakpoint($bp-med-2) {
            padding: 0.90em 0.5em 0.4em 0.5em;
            width: auto;
        }
        @include breakpoint($bp-large-2) {
            padding: 0.90em 1em 0.4em 1em;
        }
        @include breakpoint(max-width $bp-med-2) {
            background-color: $color-main-menu-background;
        }
        & > ul {
            display: none;
        }
        @include breakpoint($bp-med-2) {
            &.active,
            &:hover {
                border-color: $color-main-menu-active;
            }
        }
        &:hover {
            background-color: $color-main-menu-background-hover;
            color: $color-main-menu-foreground-hover;
            a {
                color: $color-main-menu-foreground-hover;
            }
        }
    }
    a {
        color: $color-grey;
    }
    a, li.active span {
        padding: $pad-half;
    }
    .icon-login {
        padding: 0 1em;
    }
}

///honrizontal nav
.honrizontal-nav {
    @include clearfix;
    & > li {
        float:left;
    }
    & a, li.active span {
        text-decoration: none;
        display:block;
    }
    li.link-account a {
        color: red;
    }
    li.active a {
        color: red;
    }
}
// top nav
.top-nav {
    li {
        padding: $pad-quarter;
    }
    a {
        @include breakpoint($bp-med-2) {
            text-align: center;
            width: 130px;
            margin-left: 3em;
            line-height: $pad-and-half;
        }
    }
    a:first-child {
        @include breakpoint($bp-med-2) {
            margin-left: 0;
        }
    }
    select {
        border: none;
        background-image: url($picture-sprite-icon);
        background-repeat: no-repeat;
        background-position: -318px -345px;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 3em;
    }
}

// link for user account
li.link-account {
    padding-right: 0;
}

//Pagination
.pagination {
    overflow: hidden;
    li {
        float: left;
        &[class^="pagination"] {
            &.pagination-previous {
                i {
                    float: left;
                }
                padding-right: $pad;
            }
            &.pagination-next {
                i {
                    float: right;
                }
                padding-left: $pad;
            }
        }
        a {
            color: $color-pager-link;
            text-decoration: none;
            &:hover {
                color: $color-pager-link-hover;
                background: none;
            }
        }
        a, span {
            padding: $pad-half;
        }
        span {
            border: none;
            color: $color-pager-inactive;
        }
    }
}
.navigation {
    & > a {
        width: 3.125em; /* 50 */
        height: 3.125em; /* 50 */
        text-decoration: none;
        padding: 0.25em;
        color: $color-second;
        .keolis-icon-hamburger {
            @include font-size(2.5);
            line-height: 1em;
        }
    }
    // Ancre ctp-main-nav inactive (on n'affiche que le bouton d'affichage du menu)
    &:not(:target) > a:first-of-type {
        display: block;
        @include breakpoint($bp-med-2) {
            display: none;
        }
    }
    &:not(:target) > a:last-of-type {
        display: none;
    }
    // Ancre ctp-main-nav active (on n'affiche que le bouton de masquage du menu)
    &:target > a:first-of-type {
        display: none;
    }
    &:target > a:last-of-type {
        display: block;
        @include breakpoint($bp-med-2) {
            display: none;
        }
    }

    &:target > ul {
        display: block;
    }
}