/*------------------------------------*\
    $text
\*------------------------------------*/

.sitemap {
    h4 {
        @include font-size(1);
        color: $color-white;
    }
}
h4.uppercase {
    @include font-size(1.125);
}
.text {
    @include font-size(0.875);
    display: block;
    margin-bottom: 1em;
}

.title-light {
    font-weight: 300;
}
h2.title {
    margin-bottom: 1em;
}
h4.title-small {
    @include font-size(0.813);
}
.sitemap {
    li {
        a {
            @include font-size(0.85);
        }
    }
}
.footer-bottom {
    a {
        @include font-size(0.75);
    }
}
.preface-default {
    .text {
        line-height: 1.125em;
    }
}
h1 {
    color: $color-h1;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em;
}
p {
    margin-bottom: $space;
}
strong {
    font-weight: bold;
}
.ctp-container p {
    margin-bottom: $space;
}
.content-title {
    @include font-size(1.5);
    margin: 1em 0;
}