.toolbox {
    border-radius: 0.188em;
    background-color: $white;
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    margin-bottom: 0.5em;
    float: left;
    li {
        position: relative;
        float: left;
        padding: 0.5em 0;
        a {
            display: block;
            height: 1.5em;
            text-align: center;
            width: 2.5em;
            border-left: 1px solid #E7E7E7;
            text-decoration: none;
            color: $color-main;
        }
    }
}