.accordion {
    margin-bottom: $space;
    & > li {
        border-bottom: 1px solid $gray-light;
    }
    &.th0 {
        & > li {
            border: 1px solid $gray-med-2;
            background-color: $white;
        }
    }

}

.acc-handle {
    background: $color-second;
    color: $font-color-contrast-second;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: $pad $pad-double $pad $pad;
    position: relative;

    &:after {
        position: absolute;
        content:">";
        top: 50%;
        right: $pad;
        @include transform(translate(50%, -50%) rotate(90deg));
        @include transition(transform, 0.5s, ease-out);
    }

    &:hover {
        color: $font-color-contrast-second-highlight;
        background-color: $color-second-highlight;
    }

    &.active {
        color: $font-color-contrast-second-highlight;
        background: $color-second-highlight;

        &:after {
            @include transform(translate(50%, -50%) rotate(270deg));
        }
    }
}

.acc-panel {
    padding: $pad;
}
.state-active {
    &.acc-panel-border {
        border: 1px solid $color-second-highlight;
    }
}

/************* style th0 ****************/
.th0 {
    .acc-handle {
        background: $white;
        color: $gray-med;

        &:after {
            font-family: "keolis-icons";
            content: $icon-arrow-right;
            top: 50%;
            color: $color-second;
        }

        &:hover {
            color: $color-second;
            background-color: $font-color-contrast-second;
        }

        &.active {
            color: $gray-med;
            background: $white;
        }
    }
}