// block search
.block-search {
    padding: 1em;
    input {
        width: 100%;
        margin-bottom: 1em;
        border: medium none;
        border-radius: 0.15em;
        padding: 0.25em;
 }
}
.content-row {
    @include content-row;
    @include clearfix;
}
.content-block {
    margin-bottom: 0 !important;
}
.content-element {
    padding: 0.5em;
    [class^="element-style-"],
    [class*="element-style-"] {
        padding: 1em;
    }
}
.content-page {
    .main-title {
        padding: 0 0 1em 0;
        h1 {
            @include font-size(1.875);
            line-height: 1.125em;
            font-weight: 400;
            padding: 0.5em;
            background-color: $white;
        }
    }
}

[class^="col-"],
[class*=" col-"] {
    float: left;
}

// block
.block-color-default {
    & > div > div {
        padding: 0.5em;
    }
}

// block style color main two
.block-style-2 {
    @include  block-style($color-second, $white);
    .btn-style1 {
        .icon-arrow-right {
            background-position: -389px -297px;
        }
    }
}
.block-style-3 {
    @include  block-style($color-third,$white );
    .btn-style1 {
        .icon-arrow-right {
            background-position: -389px -326px;
        }
    }

}
//preface
.preface {
    left: 1em;
    position: absolute;
    top: 1em;
    width: 12em;
    z-index: 100;
	.font-secondary {
	    display:block;
	}
	&.preface-default {
    	padding: 1em;
	}
	.title-light {
	    line-height: 1.25em;
	    margin: 0.5em 0;
	}
}

.element-type-content-link {
    .btn-block > img {
       width: 100%;
       display: block;
       height: auto;
       z-index: 1;

   }
}
