/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: $gray-dark;
	color: $white;
	line-height: 1;
	font-weight: bold;
	padding: $pad;
	border: 0;
	text-align: center;
	
	&:hover, &:focus {
		background: $gray;
		color: $white;
	}

	&.disabled {
		background: $gray-light-2;
		color: $gray;
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-style: italic;
}

// keolis
.btn {
    &.btn-social {
        display: inline-block;
        vertical-align: middle;
        line-height: 3em;
        background: none;
        padding:0;
        width: 100%;
		&:hover {
			@include opacity(0.6);
		}
    }
}
// btn
.btn-block {
    display:block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.btn-style2 {
    .icon-arrow-right {
        background-position: -389px -312px;
    }
}
.btn-icon {
    &.btn-style1,
    &.btn-style2 {
        border-radius: 0.25em;
        padding: 0.45em 0.65em;
    }
}