/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
input[type=submit].btn, button.btn, a.btn, .btn {
    font-size: $font-size-small-2;
    font-family: $font;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: $black;

    display: inline-block;
    z-index: 1;
    min-height: 2.3rem;
    padding: 0.75em 1em;
    background: $white;
    border: none;
    @include border-radius(0.15em);

    cursor: pointer;

    &:hover, &:focus {
        background: darken($white, 5%);
        color: $black;
    }

    &:after, &:before {
        font-weight: normal;
        font-family: 'keolis-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
    }

    &:not(.only-icon):after {
        margin-left: $space-quarter;
    }
    &:not(.only-icon):before {
        margin-right: $space-quarter;
    }

    & * {
        cursor: pointer;
    }

    &.disabled {
        background: $gray-light-2;
        color: $gray;
        cursor: default;
    }

    &.btn-social {
        background-color: none;
    }

    &.secondary {
        background-color: $color-second;
        color: $white;
    }

    &.btn-highlight {
        background: $color-second;
        color: $font-color-contrast-second;
    }
}
.input-group-btn {
    .btn {
        padding: 0.54em;
        border: 1px solid #d9d9d9;
    }
}
.btn-favoris {
    .icon-arrow-top-white {
        @include transform(rotate(180deg));
        display: inline-block;
        margin-left: 0.5em;
    }
}
.group-date {
    .ui-datepicker-trigger {
        padding: 0.4em;
        &.input-icons {
            padding: 0;
            top: 0;
            border: none;
            background: none;
        }
    }
}