.frise {
    .frise-section {
        float: left;
        height: 3em;
        margin-bottom: 0.3em;
        margin-right: 0.3em;
        text-align: center;
        padding: 0.5em 0 0;
        @media all and (min-width: $bp-med) {
            width: 30%;/* supprimer width calcul automatique dans nmp, juste pour l'exemple  */
        }
        img {
            display: inline;
            vertical-align: middle;
            @media all and (min-width: $bp-med) {
                max-width: 34px;
                position: relative;
                z-index: 10;
            }
        }

    }
    /* chevron */
   .rafter {
       @media all and (min-width: $bp-med) {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 50%;
                width: 100%;
                background: $gray-light-2;
                -webkit-transform: skew(21deg, 0deg);
                -moz-transform: skew(21deg, 0deg);
                -ms-transform: skew(21deg, 0deg);
                -o-transform: skew(21deg, 0deg);
                transform: skew(21deg, 0deg);
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                height: 50%;
                width: 100%;
                background: $gray-light-2;
                -webkit-transform: skew(-21deg, 0deg);
                -moz-transform: skew(-21deg, 0deg);
                -ms-transform: skew(-21deg, 0deg);
                -o-transform: skew(-21deg, 0deg);
                transform: skew(-21deg, 0deg);
            }
        }
   }
   .bg-dotted {
        &:after {
            @media all and (min-width: $bp-med) {
                background: transparent url("../images/bg-dotted-frise.png") repeat-x 0 0%;
                content: "";
                display: block;
                height: 1em;
            }
        }
        @media all and (min-width: $bp-med) {
            &.marg-right:after {
                margin-right: 3em;
            }
            &.marg-left:after {
                margin-left: 3em;
            }
        }
    }
    time {
        font-size: $font-size-small;
        border-bottom: 1px dotted;
        padding: 0.5em;
        @media all and (min-width: $bp-med) {
            border-bottom: none;
            padding: 0em;
        }
    }
}
.division {
    @media all and (min-width: $bp-med) {
        display: none;
    }
}
.supplementary-text {
    background-color: $black;
    color: $white;
    padding: 0.2em;
    position: relative;
    text-align: center;
    z-index: 10;
    font-weight: bold;
}