.header-container {
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1000;
    background-color: $color-header;

    [class*="hr-"],
    [class^="hr-"]  {
        border-color: $gray-light-2;
    }
    // Ancre ctp-main-nav inactive (on n'affiche que le bouton d'affichage du menu)
    &:not(:target) > a:first-of-type {
        display: block;
        @media all and (min-width: $bp-med-2) {
            display: none;
        }
    }
    &:not(:target) > a:last-of-type {
        display: none;
    }
    // Ancre ctp-main-nav active (on n'affiche que le bouton de masquage du menu)
    &:target > a:first-of-type {
        display: none;
    }
    &:target > a:last-of-type {
        display: block;
        @media all and (min-width: $bp-med-2) {
            display: none;
        }
    }

    &:target > ul {
        display: block;
    }
}

.link-account {
    a {
        background-color: $color-second;
        color:$font-color-light;
    }
}