
/* Icon Font */
@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple,.icon-android, .icon-arrow:after, .icon-envelope:before {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
/*.icon-twitter:before {
    content: "\74";
}*/
.icon-stumbleupon:before {
    content: "\75";
}
.icon-pinterest:before {
    content: "\70";
}
.icon-linkedin:before {
    content: "\69";
}
.icon-google-plus:before {
    content: "\67";
}
.icon-search:before {
    content: "\73";
}
.icon-play:before {
    content: "\61";
}
.icon-menu:before {
    content: "\21";
}
.icon-arrow-left:before {
    content: "\23";
}
.icon-arrow-right:before {
    content: "\24";
}
.icon-bubble:before {
    content: "\25";
}
/*.icon-facebook:before {
    content: "\66";
}*/
.icon-feed:before {
    content: "\27";
}
/*.icon-youtube:before {
    content: "\79";
}*/
.icon-tag:before {
    content: "\28";
}
.icon-tumblr:before {
    content: "\6d";
}
.icon-instagram:before {
    content: "\22";
}
.icon-podcast:before {
    content: "\26";
}
.icon-android:before {
    content: "\29";
}
.icon-apple:before {
    content: "\2a";
}
.icon-envelope:before {
    content: "\2b";
}


.icon-arrow:after {
	content: "\61";
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.icon-play:before {
	font-size: 0.7rem;
	padding-left: 0.2em;
}

.icon-play-box {
	display: block;
	margin-left: $pad-double;
}

.icon-play-box:before {
	padding: $pad-quarter;
	background: $gray;
	color: $white;
	margin-left: -1.7rem;
	margin-right: $pad-half;
}
.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.icon-logo-footer {
    background-position: 0 -224px;
    height: 39px;
    width: 116px;
}
.icon-bus {
    background-position: -213px -187px;
    height: 30px;
    width: 29px;

}
.icon-metro {
    background-position: -270px -264px;
    height: 30px;
    width: 29px;
}
.icon-velo {
    background-position: -240px -264px;
    height: 30px;
    width: 29px;
}
.icon-parking {
    background-position: 0 -308px;
    height: 30px;
    width: 29px;
}
.icon-mandistar {
    background-position: -156px -187px;
    height: 31px;
    width: 56px;
 }
.icon-twitter {
    background-position: -246px -170px;
    height: 16px;
    width: 18px;
}
.icon-facebook {
    background-position: -392px -52px;
    height: 23px;
    width: 13px;
}
.icon-youtube {
    background-position: -81px -124px;
    height: 18px;
    width: 26px;
}
.icon-flickr {
    background-position: -202px -224px;
    height: 20px;
    width: 20px;
}
.icon-arrow-top-white {
    background-image: url("../images/sprite/sprite.png");
    background-position: -392px -214px;
    height: 8px;
    width: 11px;
}
.icon-arrow-right {
    display: inline-block;
    background-image: url("../images/sprite/sprite.png");
    background-repeat: no-repeat;
    height: 12px;
    width: 8px;
}
.icon-action-user {
    padding: 0 1em;
}