.tabs {
    overflow: hidden;

    ul {
        display: table;
        width: 100%;
        border-bottom: 1px solid $gray-light-2;
    }

    li {
        display: table-cell;
        text-align: center;
    }

    a {
        display: block;
        padding: $pad-half;
        text-transform: uppercase;

        &.active {
            position: relative;
            &::after {
                $width: 80%;
                position: absolute;
                bottom: 0;
                left: (100% - $width)/2;
                display: block;
                content: "";
                width: $width;
                height: $pad-quarter;
                background: $color-second;
            }
        }
    }
}