.sitemap {
    h4 {
        @include font-size(1);
        color:$font-color-light;
    }
}
h2.title {
    margin-bottom: 1em;
}
h4.uppercase {
    @include font-size(1.125);
}
h4.title-small {
    @include font-size(0.813);
}
.text {
    @include font-size(0.875);
    display: block;
    margin-bottom: 1em;
}

.title-light {
    font-weight: 300;
}

.sitemap {
    li {
        a {
            @include font-size(0.85);
        }
    }
}
.footer-bottom {
    a {
        @include font-size(0.75);
    }
}
.preface-default {
    .text {
        line-height: 1.125em;
    }
}
strong {
    font-weight: bold;
}
.ctp-container p {
    margin-bottom: $space;
}
