<ul class="icons inline-list">
	<li class="keolis-icon-traffic-cone"></li>
	<li class="keolis-icon-warning-sign"></li>
	<li class="keolis-icon-mode-car"></li>
	<li class="keolis-icon-mode-bike"></li>
	<li class="keolis-icon-mode-bus"></li>
	<li class="keolis-icon-mode-subway"></li>
	<li class="keolis-icon-mode-tramway"></li>
	<li class="keolis-icon-mode-train"></li>
	<li class="keolis-icon-mode-walk"></li>
	<li class="keolis-icon-wheelchair"></li>
	<li class="keolis-icon-equipment-wheelchair"></li>
	<li class="keolis-icon-parking"></li>
	<li class="keolis-icon-arrow-right"></li>
	<li class="keolis-icon-location"></li>
</ul>
<br />
<ul class="icons inline-list">
    <li class="keolis-icon-traffic-cone square"></li>
    <li class="keolis-icon-warning-sign square"></li>
    <li class="keolis-icon-mode-car square"></li>
    <li class="keolis-icon-mode-bike square"></li>
    <li class="keolis-icon-mode-bus square"></li>
    <li class="keolis-icon-mode-subway square"></li>
    <li class="keolis-icon-mode-tramway square"></li>
    <li class="keolis-icon-mode-train square"></li>
    <li class="keolis-icon-mode-walk square"></li>
    <li class="keolis-icon-wheelchair square"></li>
    <li class="keolis-icon-equipment-wheelchair square"></li>
    <li class="keolis-icon-parking square"></li>
    <li class="keolis-icon-arrow-right square"></li>
    <li class="keolis-icon-location square"></li>
</ul>
<br />
<ul class="icons inline-list">
    <li class="keolis-icon-traffic-cone round"></li>
    <li class="keolis-icon-warning-sign round"></li>
    <li class="keolis-icon-mode-car round"></li>
    <li class="keolis-icon-mode-bike round"></li>
    <li class="keolis-icon-mode-bus round"></li>
    <li class="keolis-icon-mode-subway round"></li>
    <li class="keolis-icon-mode-tramway round"></li>
    <li class="keolis-icon-mode-train round"></li>
    <li class="keolis-icon-mode-walk round"></li>
    <li class="keolis-icon-wheelchair round"></li>
    <li class="keolis-icon-equipment-wheelchair round"></li>
    <li class="keolis-icon-parking round"></li>
    <li class="keolis-icon-arrow-right round"></li>
    <li class="keolis-icon-location round"></li>
</ul>