<ul class="icons inline-list">
	<li class="icon-traffic-cone"></li>
	<li class="icon-warning-sign"></li>
	<li class="icon-warning-alert"></li>
	<li class="icon-mode-car"></li>
	<li class="icon-mode-bike"></li>
	<li class="icon-mode-bus"></li>
	<li class="icon-mode-subway"></li>
	<li class="icon-mode-tramway"></li>
	<li class="icon-mode-train"></li>
	<li class="icon-mode-walk"></li>
	<li class="icon-wheelchair"></li>
	<li class="icon-equipment-wheelchair"></li>
	<li class="icon-parking"></li>
	<li class="icon-hamburger"></li>
	<li class="icon-geoloc"></li>
	<li class="icon-location"></li>
	<li class="icon-arrow-right"></li>
	<li class="icon-reverse"></li>
	<li class="icon-facebook"></li>
	<li class="icon-twitter"></li>
	<li class="icon-calendar"></li>
	<li class="icon-print"></li>
	<li class="icon-download"></li>
	<li class="icon-mail"></li>
	<li class="icon-star"></li>
	<li class="icon-star-empty"></li>
</ul>
<br />
<ul class="icons inline-list">
    <li class="icon-traffic-cone square"></li>
    <li class="icon-warning-sign square"></li>
    <li class="icon-warning-alert square"></li>
    <li class="icon-mode-car square"></li>
    <li class="icon-mode-bike square"></li>
    <li class="icon-mode-bus square"></li>
    <li class="icon-mode-subway square"></li>
    <li class="icon-mode-tramway square"></li>
    <li class="icon-mode-train square"></li>
    <li class="icon-mode-walk square"></li>
    <li class="icon-wheelchair square"></li>
    <li class="icon-equipment-wheelchair square"></li>
    <li class="icon-parking square"></li>
    <li class="icon-hamburger square"></li>
	<li class="icon-geoloc square"></li>
    <li class="icon-location square"></li>
    <li class="icon-arrow-right square"></li>
    <li class="icon-reverse square"></li>
    <li class="icon-facebook square"></li>
    <li class="icon-twitter square"></li>
    <li class="icon-calendar square"></li>
    <li class="icon-print square"></li>
    <li class="icon-download square"></li>
    <li class="icon-mail square"></li>
    <li class="icon-star square"></li>
    <li class="icon-star-empty square"></li>
</ul>
<br />
<ul class="icons inline-list">
    <li class="icon-traffic-cone round"></li>
    <li class="icon-warning-sign round"></li>
    <li class="icon-warning-alert round"></li>
    <li class="icon-mode-car round"></li>
    <li class="icon-mode-bike round"></li>
    <li class="icon-mode-bus round"></li>
    <li class="icon-mode-subway round"></li>
    <li class="icon-mode-tramway round"></li>
    <li class="icon-mode-train round"></li>
    <li class="icon-mode-walk round"></li>
    <li class="icon-wheelchair round"></li>
    <li class="icon-equipment-wheelchair round"></li>
    <li class="icon-parking round"></li>
    <li class="icon-hamburger round"></li>
	<li class="icon-geoloc round"></li>
    <li class="icon-location round"></li>
    <li class="icon-arrow-right round"></li>
    <li class="icon-reverse round"></li>
    <li class="icon-facebook round"></li>
    <li class="icon-twitter round"></li>
    <li class="icon-calendar round"></li>
    <li class="icon-print round"></li>
    <li class="icon-download round"></li>
    <li class="icon-mail round"></li>
    <li class="icon-star round"></li>
    <li class="icon-star-empty round"></li>
</ul>