<ul class="hr-left hr-right  honrizontal-nav nav-social-network " id="footer-social-network">
    <li>
        <a class="btn btn-social" target="_blank" href="#">
            <span title="Facebook" class="icon-facebook"></span>
            <span class="sr-only">Facebook</span>
        </a>
    </li>
    <li>
        <a class="btn btn-social" target="_blank" href="#">
            <span title="Twitter" class="icon-twitter"></span>
            <span class="sr-only">Twitter</span>
        </a>
    </li>
    <li>
        <a class="btn btn-social" target="_blank" href="#">
            <span title="Youtube" class="icon-youtube"></span>
            <span class="sr-only">Youtube</span>
        </a>
    </li>
</ul>