<ul class="hr-left hr-right honrizontal-nav nav-social-network">
    <li>
        <a target="_blank" href="#">
            <span title="Facebook" class="icon-facebook"></span>
            <span class="sr-only">Facebook</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="#">
            <span title="Twitter" class="icon-twitter"></span>
            <span class="sr-only">Twitter</span>
        </a>
    </li>
</ul>