<ul class="accordion">
    <li>
        <a href="#" class="acc-handle active">Accordion 1 (classe: active)</a>
        <div class="acc-panel">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet augue eget mi dignissim, nec ornare nibh dictum. Nullam vitae arcu et eros laoreet aliquet. Fusce tincidunt dictum sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut nec sodales dolor. Pellentesque in elit feugiat, facilisis felis eu, commodo eros. Pellentesque non nisi felis. Nulla tellus ex, egestas vitae velit eget, euismod pellentesque enim. Maecenas ac ex in augue commodo hendrerit in et orci. Nulla cursus lectus ut bibendum volutpat. Phasellus sodales ante et blandit volutpat. Nunc eget mattis augue, sit amet lacinia risus. Nunc laoreet interdum magna a semper. Integer maximus imperdiet sem a vehicula. Cras non turpis ac mauris porta dictum id quis nisl.
        </div>
    </li>
    <li>
        <a href="#" class="acc-handle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet augue eget mi dignissim, nec ornare nibh dictum. Nullam vitae </a>
        <!--<div class="acc-panel"></div>-->
    </li>
    <li>
        <a href="#" class="acc-handle">Accordion 3</a>
        <!--<div class="acc-panel"></div>-->
    </li>
</ul>
<p> Style th0 </p>
<ul class="accordion th0">
    <li>
        <a href="#" class="acc-handle active">Accordion 1 (classe: active)</a>
        <div class="acc-panel">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet augue eget mi dignissim, nec ornare nibh dictum. Nullam vitae arcu et eros laoreet aliquet. Fusce tincidunt dictum sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut nec sodales dolor. Pellentesque in elit feugiat, facilisis felis eu, commodo eros. Pellentesque non nisi felis. Nulla tellus ex, egestas vitae velit eget, euismod pellentesque enim. Maecenas ac ex in augue commodo hendrerit in et orci. Nulla cursus lectus ut bibendum volutpat. Phasellus sodales ante et blandit volutpat. Nunc eget mattis augue, sit amet lacinia risus. Nunc laoreet interdum magna a semper. Integer maximus imperdiet sem a vehicula. Cras non turpis ac mauris porta dictum id quis nisl.
        </div>
    </li>
    <li>
        <a href="#" class="acc-handle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet augue eget mi dignissim, nec ornare nibh dictum. Nullam vitae </a>
        <!--<div class="acc-panel"></div>-->
    </li>
    <li>
        <a href="#" class="acc-handle">Accordion 3</a>
        <!--<div class="acc-panel"></div>-->
    </li>
</ul>