<div class="row clearfix">
    <div class="sitemap-col col-3">
        <h4> Se déplacer</h4>
         <ul class="nav simple-nav">
            <li><a title="Itinéraire" href="#">Itinéraire</a></li>
            <li><a title="Horaires" href="#">Horaires</a></li>
            <li><a title="A proximité" href="#">A proximité</a></li>
         </ul>              
    </div>
     <div class=" sitemap-col col-3">
        <h4>Titres et tarifs</h4>
         <ul class="nav simple-nav">
            <li><a title="Itinéraire" href="#">Itinéraire</a></li>
            <li><a title="Horaires" href="#">Horaires</a></li>
            <li><a title="A proximité" href="#">A proximité</a></li>
         </ul>              
    </div>                               
     <div class="sitemap-col col-3">
        <h4> Keolis</h4>
         <ul class="nav simple-nav">
            <li><a title="Itinéraire" href="#">Itinéraire</a></li>
            <li><a title="Horaires" href="#">Horaires</a></li>
            <li><a title="A proximité" href="#">A proximité</a></li>
         </ul>              
    </div>                                  
     <div class="sitemap-col col-3">
        <h4>Nous contacter</h4>
         <ul class="nav simple-nav">
            <li><a title="Itinéraire" href="#">Itinéraire</a></li>
            <li><a title="Horaires" href="#">Horaires</a></li>
            <li><a title="A proximité" href="#">A proximité</a></li>
         </ul>              
    </div>                                                    
</div>                                          
