<div class="row fare-row col-10 clearfix">
    <div class="col-2">
        <img src="../../images/fpo_square.png">
    </div>
    <div class="col-4">
        <h4 class="title-light uppercase">
            Titre de transport
        </h4>
        <div class="text">
            <p>Description du titre de transport</p>
        </div>
        <a class="text highlight" href="#">Plus de détails</a>
    </div>
    <div class="col-4">
        <div class="fare align-center">
            <h4 class="title-light align-center uppercase">
                <strong>X,XX €</strong>
            </h4>
            <a href="#" title="Commander" class="btn secondary btn-highlight width-full">
                Commander
            </a>
        </div>
    </div>
</div>