<ul class="honrizontal-nav left nav-icon-mode">
	<li><a href="#"><span class="icon-bus"></span><span class="sr-only">bus</span></a></li>
	<li><a href="#"><span class="icon-metro"></span><span class="sr-only">Métro</span></a></li>
	<li><a href="#"><span class="icon-parking"></span><span class="sr-only">Parking</span></a></li>
	<li><a href="#"><span class="icon-velo"></span><span class="sr-only">Vélo</span></a></li>
	<li><a href="#"><span class="icon-mandistar"></span><span class="sr-only">Mandistar</span></a></li>
</ul>