<div class="block-section bg clearfix">
    <div class="section-no-type">
        <div class="bloc-left"><img src="../../images/sample/marker.png" alt="Départ" title="Départ" /></div>
        <div class="info">
            <div class="time">10h15</div>
            <div class="txtInfo">Départ: Hôtel de Région (Rennes)</div>
        </div>
    </div>
</div>