<ul class="info-points">
    <li class="left">
        <img src="../../images/sample/marker.png" alt="Départ" title="Départ" />
        17h03
    </li>
    <li class="line-summary"><hr/></li>
    <li class="right">
        18h19
        <img src="../../images/sample/marker.png" alt="Arrivée" title="Arrivée" />
    </li>
</ul>