<div class="clearfix toolbox-container">
    <ul class="toolbox inline-list">
        <li>
            <a href="{{ toolbox.facebook.url }}" target="_blank">
                {{> atoms-facebook-icon }}
                <span class="sr-only">Facebook</span>
            </a>
        </li>
        <li>
            <a href="{{ toolbox.twitter.url }}" target="_blank">
                {{> atoms-twitter-icon }}
                <span class="sr-only">Twitter</span>
            </a>
        </li>
        <li>
            <a href="{{ toolbox.print.url }}">
                {{> atoms-print-icon }}
                <span class="sr-only">Imprimer</span>
            </a>
        </li>
        <li>
            <a href="{{ toolbox.email.url }}" class="button" data-m-content="content-email" data-m-ref="content-email">
                {{> atoms-email-icon }}
                <span class="sr-only">Envoyer à un(e) ami(e)</span>
            </a>
        </li>
        <li>
            <a href="{{ toolbox.alert.url }}" class="button" data-m-content="{{ toolbox.alert.data }}" data-m-ref="{{ toolbox.alert.data }}" data-target="#{{ toolbox.alert.data }}">
                {{> atoms-warning-icon }}
                <span class="sr-only">Surveiller</span>
            </a>
        </li>
        <li>
            <a href="{{ toolbox.calendar.url }}" class="button">
                {{> atoms-calendar-icon }}
                <span class="sr-only">Calendrier</span>
            </a>
        <li>
            <a href="{{ toolbox.download.url }}">
                {{> atoms-download-icon }}
                <span class="sr-only">Télécharger</span>
            </a>
        </li>
        <li>
            <a href="{{ toolbox.alert.url }}">
                {{> atoms-alert-icon }}
                <span class="sr-only">Signaler une anomalie</span>
            </a>
        </li>
    </ul>
</div>