<label
    {% if id is defined and id is not empty %} for="{{ id }}"{% endif %}
    {% if state is defined and state is not empty %} class="{{ state }}"{% endif %}
    {% if title is defined and title is not empty %} title="{{ title }}"{% endif %}>
    {{ label }}
    {% if required is defined and required %}<abbr title="Required">*</abbr>{% endif %}
</label>