<fieldset>
    <div class="field-container">
        <label for="select">Select</label>
        <div class="selectpicker">
            <span>Option One</span>
            <i class="keolis-icon-arrow-bottom"></i>
            <select id="select">
                <optgroup label="Option Group">
                    <option>Option One</option>
                    <option>Option Two</option>
                    <option>Option Three</option>
                </optgroup>
            </select>
        </div>
    </div>
</fieldset>