<fieldset class="options">
    <legend>Modes</legend>
    <ul class="checkox-list checkox-icon-only">
        <li class="checkbox-item">
            <input id="checkbox1" name="checkbox" type="checkbox" checked="checked">
            <label for="checkbox1">
                <span class="icon-mode-bus"></span>
                <span class="sr-only">Bus</span>
            </label>
        </li>
        <li class="checkbox-item">
            <input id="checkbox2" name="checkbox" type="checkbox">
            <label for="checkbox2">
                <span class="icon-mode-coach"></span>
                <span class="sr-only">Coach </span>
            </label>
        </li>
        <li class="checkbox-item">
            <input id="checkbox3" name="checkbox" type="checkbox">
            <label for="checkbox3">
                <span class="icon-mode-train"></span>
                <span class="sr-only">Train </span>
            </label>
        </li>
        <li class="checkbox-item">
            <input id="checkbox4" name="checkbox" type="checkbox">
            <label for="checkbox4">
                <span class="icon-mode-tramway"></span>
                <span class="sr-only">Tramway </span>
            </label>
        </li>
    </ul>
</fieldset>