<fieldset class="options">
    <legend>Types de Modes</legend>
    <ul class="checkox-list checkox-icon">
        <li class="checkbox-item">
            <input id="checkbox1" name="checkbox" type="checkbox" checked="checked">
            <label for="checkbox1">
                <span class="keolis-icon-mode-bus"></span>
                <span class="icon-text">Bus</span>
            </label>
        </li>
        <li class="checkbox-item">
            <input id="checkbox2" name="checkbox" type="checkbox">
            <label for="checkbox2">
                <span class="keolis-icon-mode-subway"></span>
                <span class="icon-text">subway</span>
            </label>
        </li>
        <li class="checkbox-item">
            <input id="checkbox3" name="checkbox" type="checkbox">
            <label for="checkbox3">
                <span class="keolis-icon-mode-train"></span>
                <span class="icon-text">Train </span>
            </label>
        </li>
        <li class="checkbox-item">
            <input id="checkbox4" name="checkbox" type="checkbox">
            <label for="checkbox4">
                <span class="keolis-icon-mode-tramway"></span>
                <span class="icon-text">Tramway </span>
            </label>
        </li>
    </ul>
</fieldset>
