<ul class="accordion th0">
    <li>
        <a href="#" class="acc-handle active"> Titre </a>
        <div class="acc-panel">
            {% include 'molecules-checkbox-icon' %}
        </div>
    </li>
</ul>