<div class="content-element element-type-content-link col-3 block-style-2 shade shade-bottom-left">
    <div class="bg-color-default block-fix clearfix">
        <h2 class="title-second uppercase">Préparer un itinéraire</h2>
        <form id="" action="#" name="search" class="widget">
            <fieldset class="journey-specifics">
                <legend class="hide">Vos critères de recherche</legend>
                <div class="clearfix">

                    <div class="clearfix group-field-container">
                        <!-- Départ -->
                        <div class="field-container clearfix">
                            <label class="hide" for="text">Text Input <abbr title="Required">*</abbr></label>
                            <div class="icon-inside-input ">
                                <span class="keolis-icon-location location-from"></span>
                                <span class="inner-iput-text" title="Partir Depuis ">De</span>
                                <input id="text" type="text" placeholder="Saisir un arrêt, une adresse, une communue" class="inner-icons">
                            </div>
                        </div>
                        <!-- arrivee -->
                        <div class="field-container clearfix">
                            <label class="hide" for="text">Text Input <abbr title="Required">*</abbr></label>
                            <div class="icon-inside-input ">
                                <span class="keolis-icon-location location-to"></span>
                                <span class="inner-iput-text" title="Arrivée vers ">Vers</span>
                                <input id="text" type="text" placeholder="Saisir un arrêt, une adresse, une communue" class="inner-icons">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="groupe-btn right">
                    <button type="button" class="btn btn-style1" title="valider le formulaire">
                        ok
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
