<a class="btn modalbox btn-favoris" href="/fr/login">
    <span title="Selectionnez votre favori" class="icon-star-dark"></span>
    <span class="sr-only">Vos favoris</span>
    <span class="icon-arrow-top-white"></span>
</a>