<div class="page" id="page">
    {% include 'organisms-header' %}
	<div class="main-container ctp-content" id="ctp-content">
        {% if emergency is defined and emergency is not defined %}
            {%  include 'molecules-alert:error' %}
        {% endif %}
	    <div class="main ctp-container wrapper clearfix">
			<div class="content-page layout-advanced5 homepage " id="homepage">
				<div class="content-row clearfix">
					<div class="content-zone top-left col-10">
						<div class="content-block block-type-simple-item-list col-10">
							<div class="block-style-mosaic4 clearfix ">
                                <div class="content-element element-type-content-link col-6 block-style-2 ">
                                    <a class="default btn-block boder-default" href="#">
                                        <img height="520" alt="" src="../../images/img_col6_top.png">
                                        <div class="preface preface-default col-3">
                                            <h4 class="title-small uppercase">Cinéma et sciences</h4>           
                                            <h3 class="title-light">FESTIVAL <span class="text-bold">A NOUS DE VOIR</span></h3>
                                            <span class="text">28ème édition Du 20 au 30 novembre 2015</span>
                                            <span class="btn btn-icon btn-style1 right">
                                                <span class="icon-arrow-right"></span>
                                            </span>
                                        </div>
                                    </a> 
                                </div>
                                <div class="content-element element-type-content-link col-4 block-style-2">
                                    <a class="default btn-block boder-default" href="#">
                                        <img height="520" alt="" src="../../images/img_col4_top.png">
                                        <div class="preface preface-default col-3">
                                            <h4 class="title-small uppercase">Cinéma et sciences</h4>           
                                            <h3 class="title-light">FESTIVAL <span class="text-bold">A NOUS DE VOIR</span></h3>
                                            <span class="text">28ème édition Du 20 au 30 novembre 2015</span>
                                            <span class="btn btn-icon btn-style1 right">
                                                <span class="icon-arrow-right"></span>
                                            </span>
                                        </div>
                                    </a> 
                                </div>
                                <div class="content-element element-type-content-link col-6 block-style-2">
                                    <a class="default btn-block boder-default" href="#">
                                        <img height="324" alt="" src="../../images/img_col6_bottom.png">
                                        <div class="preface preface-default col-3">
                                            <h4 class="title-small uppercase">Cinéma et sciences</h4>           
                                            <h3 class="title-light">FESTIVAL <span class="text-bold">A NOUS DE VOIR</span></h3>
                                            <span class="text">28ème édition Du 20 au 30 novembre 2015</span>
                                            <span class="btn btn-icon btn-style1 right">
                                                <span class="icon-arrow-right"></span>
                                            </span>
                                        </div>
                                    </a> 
                                </div>
                                <div class="content-element element-type-content-link col-4 block-style-2">
                                    <a class="default btn-block boder-default" href="#">
                                        <img height="324" alt="" src="../../images/img_col4_bottom.png">
                                        <div class="preface preface-default col-3">
                                            <h4 class="title-small uppercase">Cinéma et sciences</h4>           
                                            <h3 class="title-light">FESTIVAL <span class="text-bold">A NOUS DE VOIR</span></h3>
                                            <span class="text">28ème édition Du 20 au 30 novembre 2015</span>
                                            <span class="btn btn-icon btn-style1 right">
                                                <span class="icon-arrow-right"></span>
                                            </span>
                                        </div>
                                    </a> 
                                </div>
                            </div>
						</div>
					</div>
					<div class="content-zone top-right col-4">
						<div class="content-block block-type-simple-item-list col-4">
                            <div class="content-element block-style-2 col-4 ">
                                <div class="block-style-default block-search bg-color-default clearfix">
                                    <h2 class="title title-light"> Nouveau à Gotham</h2>
                                    <form>
                                        <label for="search" class="hide">label</label>
                                        <input type="text" id="search" name="search" class="autocompletable form-control ctp-autocomplete ui-autocomplete-input">
                                        <button type="submit" class="btn btn-icon btn-default btn-style1 right" title="recherche">
                                            Rechercher
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="content-element block-style-1 col-4">
                                <div class="block-style-default bg-default boder-default">
                                    <h2 class="title title-light"> Le réseau de <span class="text-bold">Gotham</span></h2>
                                    <img src="../../images/shema.png">
                                </div>
                            </div>
                            <div class="content-element block-style-2 col-4">
                                <div class="block-style-default block-search bg-color-default">
                                    <h2 class="title title-light">I am Batman</h2>
                                    <button type="submit" class="btn btn-default btn-style1 width-full" title="recherche">
                                        Rechercher
                                    </button>
                                </div>
                            </div>
						</div>
                    </div>
					<div class="content-zone bottom-left col-10">
                        <div class="content-block block-type-simple-item-list col-10">
                            <div class="block-style-mosaic4 clearfix ">
                                <div class="clearfix col-10">
                                    <div class="content-element element-type-content-link col-2 block-style-1 shade shade-bottom-left ">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    Lire la suite
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                    <div class="content-element element-type-content-link col-2 block-style-1 shade shade-bottom-left">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    Lire la suite
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                    <div class="content-element element-type-content-link col-2 block-style-2 shade shade-bottom-left">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                    <div class="content-element element-type-content-link col-2 block-style-2 shade shade-bottom-left">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                    <div class="content-element element-type-content-link col-2 block-style-3 shade shade-bottom-left">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                </div>
                                <div class="clearfix col-10">
                                    <div class="content-element element-type-content-link col-4 block-style-1 shade shade-bottom-left">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    Lire la suite
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                    <div class="content-element element-type-content-link col-2 block-style-2 shade shade-bottom-left">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                    <div class="content-element element-type-content-link col-2 block-style-2 shade shade-bottom-left">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                    <div class="content-element element-type-content-link col-2 block-style-3 shade shade-bottom-left">
                                        <a class="default btn-block inner-shade" href="#">
                                            <div class="bg-color-default clearfix">
                                                <h4 class="title-light uppercase">
                                                    Les lignes          
                                                    <span class="text-bold">SPÉCIFIQUES</span>
                                                </h4>
                                                <span class="text">Des bus pour circuler tout partout.</span>
                                                <span class="btn btn-icon btn-style1 right">
                                                    <span class="icon-arrow-right"></span>
                                                </span>
                                            </div>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- zone bottom right --!>
					<div class="content-zone bottom-right col-4">
                        <div class="content-block block-type-simple-item-list col-4">
                            <div class="block-style-mosaic5 clearfix col-4">
                                <div class="content-element element-type-content-link col-2 block-style-1">
                                    <a class="default btn-block" href="#">
                                        <div class="bg-default boder-default clearfix">
                                            <h4 class="title-light uppercase">
                                                Les lignes          
                                                <span class="text-bold">SPÉCIFIQUES</span>
                                            </h4>
                                            <span class="text">Des bus pour circuler tout partout.</span>
                                            <span class="btn btn-icon btn-style2 right">
                                                <span class="icon-arrow-right"></span>
                                            </span>
                                        </div>
                                    </a> 
                                </div>
                                <div class="content-element element-type-content-link col-2 block-style-1">
                                    <a class="default btn-block" href="#">
                                        <div class="bg-default boder-default clearfix">
                                            <h4 class="title-light uppercase">
                                                Les lignes          
                                                <span class="text-bold">SPÉCIFIQUES</span>
                                            </h4>
                                            <span class="text">Des bus pour circuler tout partout.</span>
                                            <span class="btn btn-icon btn-style2 right">
                                                <span class="icon-arrow-right"></span>
                                            </span>
                                        </div>
                                    </a> 
                                </div>
                                <div class="content-element element-type-content-link col-2 block-style-1">
                                    <a class="default btn-block" href="#">
                                        <div class="bg-default boder-default clearfix">
                                            <h4 class="title-light uppercase">
                                                Les lignes          
                                                <span class="text-bold">SPÉCIFIQUES</span>
                                            </h4>
                                            <span class="text">Des bus pour circuler tout partout.</span>
                                            <span class="btn btn-icon btn-style2 right">
                                                <span class="icon-arrow-right"></span>
                                            </span>
                                        </div>
                                    </a> 
                                </div>
                                <div class="content-element element-type-content-link col-2 block-style-1">
                                    <a class="default btn-block" href="#">
                                        <div class="bg-default boder-default clearfix">
                                            <h4 class="title-light uppercase">
                                                Les lignes          
                                                <span class="text-bold">SPÉCIFIQUES</span>
                                            </h4>
                                            <span class="text">Des bus pour circuler tout partout.</span>
                                            <span class="btn btn-icon btn-style2 right">
                                                <span class="icon-arrow-right"></span>
                                            </span>
                                        </div>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	{% include 'organisms-footer' %}
</div>