<div class="details">
    {{> molecules-toolbox }}
    
    <div class="clearfix head-global">
        <div class="head-title">
            <h3>Itinéraire</h3>
        </div>
        <div class="head-duration">
            <span>1 h 43 min</span>
        </div>
    </div>

    <div class="sections-list clearfix">
        {{> molecules-section-no-type }}
        {{> organisms-section-type }}
        {{> molecules-section-no-type }}
    </div>
    
    <div class="footer">
        {{> molecules-toolbox }}
    </div>
    <div class="clearfix">
        
    </div>
    <div class="info">
    
    </div>
    <div style="clear:both"></div>
</div>
