<form id="" class="" action="#">
    <fieldset class="journey-specifics">
        <legend class="hide">Vos critères de recherche</legend>
        <div class="clearfix">
            <!-- Btn inverser -->
            <div class="journey-reverse">
                <a class="btn" href="#" title="Inverser le départ et l'arrivée">
                    <span class="sr-only">Inverser le départ et l'arrivée</span>
                    <span class="icon-reverse"></span>
                </a>
            </div>
            <div class="clearfix group-field-container icon-left">
                <!-- Départ -->
                <div class="field-container clearfix">
                    <label class="hide" for="text">Départ <abbr title="Required">*</abbr></label>
                    <div class="icon-inside-input left">
                        <span class="inner-iput-text" title="Partir Depuis ">De</span>
                        <input id="text" type="text" placeholder="Saisir un arrêt, une adresse, une communue" class="inner-icons">
                        <span class="icon-clear" title="Effacer le champs">x</span>
                        <a title="Ajouter en favoris" href="#" class="input-icons pos-right" id="favoris">
                            <span class="icon-star-empty"></span>
                            <span class="sr-only">favoris</span>
                        </a>
                    </div>
                    <ul class="iconable-group input-group-btn left">
                        <li><a title="Se géolocaliser" href="#" class="btn" id="geolocButton">
                            <span class="icon-geoloc"></span>
                            <span class="sr-only">Se géolocaliser</span>
                        </a></li>
                    </ul>
                </div>

                <!-- arrivee -->
                <div class="field-container clearfix">
                    <label class="hide" for="text">Arrivée <abbr title="Required">*</abbr></label>
                    <div class="icon-inside-input left">
                        <span class="inner-iput-text" title="Arivée vers ">Vers</span>
                        <input id="text" type="text" placeholder="Saisir un arrêt, une adresse, une communue" class="inner-icons">
                        <span class="icon-clear" title="Effacer le champs">x</span>
                        <a title="Ajouter en favoris" href="#" class="input-icons pos-right" id="favoris">
                            <span class="icon-star-empty"></span>
                            <span class="sr-only">favoris</span>
                        </a>
                    </div>
                    <ul class="iconable-group input-group-btn left">
                        <li><a title="Se géolocaliser" href="#" class="btn" id="geolocButton">
                            <span class="icon-geoloc"></span>
                            <span class="sr-only">Se géolocaliser</span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
       {{> molecules-search-datetime }}
       {{> organisms-checkbox-accordion }}
       <div class="groupe-btn">
            <button type="button" class="btn" title="valider le formulaire">
                 Rechercher
            </button>
       </div>
    </fieldset>
</form>