<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #055FA3;"></span>
		<span class="sg-label">Primary #055FA3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00ADAF;"></span>
		<span class="sg-label">Secondary #00ADAF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F2500F;"></span>
		<span class="sg-label">Ternary #F2500F</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FF0000;"></span>
		<span class="sg-label">Error #FF000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666A74;"></span>
		<span class="sg-label">Footer #666A74</span>
	</li>
</ul>