<p>Primary font: "Proxima Nova Thin","Arial",sans-serif;</p>
<p><em>Primary font italic: "Proxima Nova Thin","Arial",sans-serif;</em></p>
<p class="highlight">Primary font bold: "Proxima Nova black","Arial",sans-serif; // class: highlight</p>
<p class="text-bold font-secondary">Secondary font: "Museo","Arial",sans-serif; serif; // class: font-secondary </p>