<!-- Begin .header -->
<div class="header-container">
	<header class="wrapper clearfix">
		{{> molecules-top-header-nav }}
	    <h1 class="title left">
			{{> atoms-logo }}
		</h1>
		<a href="#main-nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
		{{> molecules-primary-nav }}
	</header>
</div>
<!-- End .header -->