<!-- Begin Footer -->
<div class="footer-container">
    <footer class="wrapper ">
        <div class="footer-nav clearfix">
            <div class="left block-sm-10">
                <div class="logo-footer left"><a href="#"><span class="icon-logo-footer"></span></a></div>
        	</div>
            <div class="left block-sm-2">
        	</div>
        	<div class="left block-sm-2">
                <h3><a id="sitemap-button" href="#sitemap" class="link-block sitemap-button"> Plan du site <span class="arrow"><span class="icon-arrow-top-white"></span></span></a></h3>
        	</div>
        </div>
        <div id="sitemap" class="sitemap collapse">
            <div class="wrapper inner-wrapper">
				{% include 'molecules-sitemap' %}
				{% include 'molecules-footer-nav' %}
            </div>
        </div>
    </footer>
</div>
<!-- End Footer -->
