/* debug */

.ctp_debug {
    padding: 2em 0;
    color: white;

    & > ul {
        & > li {
            & > ul {
                display: none;
            }

            &:hover > ul {
                display: block;
            }
        }
    }

    & ul {
        padding: 0 2em;

        li {
            overflow: hidden;
            line-height: 1.3em;

            a {
                display: block;
                margin: 1em;
                color: wheat;
                text-decoration: underline;

                &:hover {
                    color: wheat;
                }
            }

            .title {
                float: left;
                margin-right: 1em;
            }

            .content {
                clear: both;
            }
        }
    }
}