/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

*, *:before,
*:after {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    font-family:$font;
    background-color: $color-body-background;
    color: $color-body-foreground;

    // override default appearance
    -webkit-appearance: none;
    -moz-appearance: none;
    min-height: 800px;
    padding-top: 60px;

    @media all and (min-width: $bp-med-2) {
        padding-top: $top-body;
    }
}

/* Display Classes */
.hide {
    display:none;
}
.hide-small {
    @include breakpoint( max-width $bp-med) {
        display: none;
    }
}

.hide-med {
    @include breakpoint($bp-med $bp-large) {
        display: none;
    }
}

.hide-large {
    @include breakpoint($bp-large) {
        display: none;
    }
}

.font-secondary,
.text-bold {
    font-family: $font-secondary;
}

.active {
    border-bottom: 7px solid $color-main-menu-active;
}

/* float for element */
/// right
.right {
    float: right;
}
/// left
.left {
    float: left;
}
// border for element
hr {
    border: 1px solid $color-separator;
    border-bottom: 0;
}
///top
.hr-top  {
    border-top: $border-light solid;
}
///bottom
.hr-bottom  {
    border-bottom: $border-light solid;
}
///left
.hr-left {
    border-left: $border-light solid;
}
///right
.hr-right {
    border-right: $border-light solid;
}
//clearfix
.clearfix {
    @include clearfix;
}

// font weight bold
.bold {
    font-weight: bold;
}
// element link siplay block
.link-block {
    display: block;
}
// element text UPPERCASE
.uppercase {
    text-transform: uppercase;
}

// alt txt
.ctp-txt-alt {
    padding-right: 1em;
}
.shade {
    overflow: hidden;
    position: relative;
    & > .inner-shade::after {
        background: #fff none repeat scroll 0 0;
        border-radius: 50%;
        bottom: auto;
        display: block;
        height: 190px;
        opacity: 0.08;
        position: absolute;
        top: auto;
        width: 192px;
        z-index: 5;
        content: "";
    }
    &.shade-bottom-left {
        & > .inner-shade::after {
            left: -69px;
            top: 60px;
        }
    }
    &.shade-bottom-right {
        & > .inner-shade::after {
            right: -69px;
            top: 60px;
        }
    }
    .inner-shade {
        .block-align-shade {
            text-align: center;
            padding: 3em 1em 1em 4em;
        }
    }
}
.preface-default {
    background-color: $color-article-summary-background;
    color: $color-article-summary-foreground;
}

/* Text-Align */
.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}
.marg-double-first {
    margin:1em 0;
}
.odd {
    background-color: $color-odd;
}
.administrative_region {
    background-image: url("#{$pattern-dir-img}pic-administrative_region.png");
    background-repeat: no-repeat;
}
.stop_area {
    background-image: url("#{$pattern-dir-img}pic-stop_area.png");
    background-repeat: no-repeat;
}
.poi {
    background-image: url("#{$pattern-dir-img}pic-poi.png");
    background-repeat: no-repeat;
}
.address {
    background-image: url("#{$pattern-dir-img}pic-address.png");
    background-repeat: no-repeat;
}
.error {
    color: $color-design-error;
}