/* Links */
a {
    color: $gray-dark;
    text-decoration: none;
    outline: 0;

    &:hover, &:focus {
        color: $gray;
    }

    &.highlight {
        color: $color-second;
        text-decoration: underline;
    }
}