/* Links */
a {
    color: contrast-color($color-link, $color-link, $color-typo-dark);
    text-decoration: none;
    outline: 0;

    &:hover, &:focus {
        color: contrast-color($color-link, $color-link, $color-typo-dark);
    }

    &.highlight {
        color: contrast-color($color-link-visited, $color-link-visited, $color-typo-dark);;
        text-decoration: underline;
    }
}