h1 {
    color: $color-h1;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: $space;
}
.ctp-container p {
    margin-bottom: $space;
}

.highlight {
    color: $color-h1;
}

// alt txt
.ctp-txt-alt {
    padding-right: 1em;
}
.title-second {
    font-family:$font-secondary;
}
.block-fix {
    h2 {
        margin-bottom: 1em;
    }
}