// ================================ Font ======================================
$font-family-main: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$main-size-icon-font:1.25;

// ================================= URL ======================================
$pattern-dir-img: '/design/keolis/base/bundles/canaltpfrontcore/images/';
$pattern-dir-font: '/design/keolis/base/bundles/canaltpfrontcore/fonts/';
/* ***** $pattern-dir-img-custom variable for custom img ******* */
/* ***** $pattern-dir-frontcore variable for frontcore dir ***** */

// ========================== Variables  media ================================
$color-body-background: #EAEAEA;
$color-block-background: #ECECEC;
$color-title: #343434;

// Breakpoints
// By default: min-width
$breakpoint-s: 30em; // 480px
$breakpoint-m: 48em; // 768px
$breakpoint-l: 64em; // 1024px
$breakpoint-xl: 75em; // 1200px
$breakpoint-xxl: 94em; // 1504px

//max-width
$breakpoint-max-s: max-width 30em;

// Grid values
$grid-column: 60px;
$grid-gutter: 20px;
$base-font-size: 16; //en px -> utilisé par le mixin font-size

// Show grid
$grid-background-gutter-width:$grid-gutter;
$grid-background-column-width:$grid-column;
$grid-background-baseline-color:rgba(196, 0, 3, 0.5);

// Main logo
$main-logo-height: 85px;
$main-logo-margin: 0;

// ================================ Colors ================================

// Main colors
$color-main-one: #007E8E;
$color-main-two: #FF6500;
$color-main-three: #A5D2D8;
$color-main-neutral-darker: #000;
$color-main-neutral-dark: #3C3C3C;
$color-main-neutral-medium: #565656;
$color-main-neutral-light: #F7F7F7;
$color-main-neutral-lighter: #FFF;
$color-main-neutral-dark-variation: #343434;
$color-main-neutral-dark-variation-lighter: #565656;

// Main computed colors
$color-main-one-dark: darken($color-main-one, 10);
$color-main-one-darker: darken($color-main-one, 20);
$color-main-two-dark: darken($color-main-two, 10);
$color-main-two-darker: darken($color-main-two, 20);
$color-main-three-dark: darken($color-main-three, 10);
$color-main-three-darker: darken($color-main-three, 20);

$color-main-one-light: lighten($color-main-one, 10);
$color-main-one-lighter: lighten($color-main-one, 20);
$color-main-two-light: lighten($color-main-two, 10);
$color-main-two-lighter: lighten($color-main-two, 20);
$color-main-three-light: lighten($color-main-three, 10);
$color-main-three-lighter: lighten($color-main-three, 20);

// Font colors
$font-color-dark: #343434;
$font-color-light: #FFF;
$font-color-accent: $color-main-one;
$font-color-contrast-one: contrast-color($color-main-one, $font-color-dark, $font-color-light);
$font-color-contrast-two: $font-color-light;
$font-color-contrast-three: contrast-color($color-main-three, $font-color-dark, $font-color-light);

// ============================= Main navigation ==============================
$main-nav-background: $color-main-neutral-dark;
$main-nav-item-background: $color-main-neutral-dark;
$main-nav-item-background-active: $color-main-neutral-dark;
$main-nav-item-background-hover: $color-main-two;

// ============================== User and lang ===============================
$user-lang-background: $color-main-neutral-medium;

// ================================= Footer ===================================
$footer-background: $color-main-neutral-dark;

// ================================== Texts ===================================
$link-color: $font-color-accent;

// ================================= Buttons ==================================
$form-button-background: $color-main-two;
$form-button-background-hover: $color-main-two-light;
$form-button-foreground: $font-color-contrast-two;
$form-button-shadow: $color-main-two-darker;
$favorite-button-background: $color-main-one;
$favorite-button-background-hover: $color-main-one-light;
$favorite-button-foreground: $font-color-contrast-one;
$form-advanced-button-background: $color-main-one;
$form-advanced-button-background-hover: $color-main-one-light;
$form-advanced-button-foreground: $font-color-contrast-one;
$location-foreground: $color-main-two;

// ============================ Content blocks ================================
$content-block-border-style: 0;

// ================================== Tabs ====================================
$tabs-icon-vertical-align: -10%;
$tabs-icon-padding-left: 0.5em;
$tabs-item-foreground: $font-color-light;
$tabs-item-background: $color-main-neutral-dark-variation;
$tabs-item-foreground-active: $font-color-accent;
$tabs-item-background-active: $color-main-neutral-lighter;
$tabs-item-foreground-hover: $font-color-light;
$tabs-item-background-hover: $color-main-neutral-dark-variation-lighter;

// ================================ Accordion =================================
$accordion-background: $color-main-one;
$accordion-foreground: $font-color-contrast-one;
$accordion-background-focus: $color-main-one;
$accordion-foreground-focus: $font-color-contrast-one;
$accordion-background-hover: $color-main-three;
$accordion-foreground-hover: $font-color-contrast-three;
$accordion-background-active: $color-main-three;
$accordion-foreground-active: $font-color-contrast-three;

// =============================== Autocomplete ===============================
$autocomplete-background: $color-main-neutral-lighter;
$autocomplete-foreground: $font-color-dark;
$autocomplete-background-hover: $color-main-one;
$autocomplete-foreground-hover: $font-color-contrast-one;
$autocomplete-strong-foreground: $font-color-accent;
$autocomplete-odd-background: $color-main-neutral-light;
$autocomplete-even-background: $color-main-neutral-lighter;

// ================================ Carpooling ================================
$color-carpooling-title-bar-background: #6C788D;
$color-carpooling-title-bar-foreground: #FFFFFF;

// ================================= Layout ===================================

// 2 colonnes, 50/50
$layout-2columns5050-left: 50%;
$layout-2columns5050-right: 50%;

// 2 colonnes, 66/33
$layout-2columns6633-left: 67%;
$layout-2columns6633-right: 33%;

// 2 colonnes, 33/66
$layout-2columns3366-left: 33%;
$layout-2columns3366-right: 67%;

// Advanced 1
$layout-advanced1-bottom-left: 50%;
$layout-advanced1-bottom-right: 50%;

// Advanced 2
$layout-advanced2-center-left: 33%;
$layout-advanced2-center-right: 67%;

// Advanced 3
$layout-advanced3-bottom-left: 50%;
$layout-advanced3-bottom-right: 50%;

// Advanced 4
$layout-advanced4-center-left: 50%;
$layout-advanced4-center-right: 50%;
$layout-advanced4-bottom-left: 50%;
$layout-advanced4-bottom-right: 50%;

// =============================== NMP Modules ================================
$nmp-module-bottom-border-style: 0;

// ======================= Picures / and position picture  ====================
// url + position img background body
$url-body-img:'#{$pattern-dir-img}design/map_header.png';
$position-body-img: 35% 0;

// accordeon proxi  ( page de results proxi list poi)
$url-accordion-1-poi-icon:'#{$pattern-dir-img}picto/27/picto_modes.png';
$url-accordion-1-poi-icon-active:'#{$pattern-dir-img}picto/27/picto_modes.png';
$url-accordion-2-poi-icon:'#{$pattern-dir-img}picto/27/picto_services-publics.png';
$url-accordion-2-poi-icon-active:'#{$pattern-dir-img}picto/27/picto_services-publics.png';
$url-accordion-3-poi-icon:'#{$pattern-dir-img}picto/27/picto_everyday-life.png';
$url-accordion-3-poi-icon-active:'#{$pattern-dir-img}picto/27/picto_everyday-life.png';
$url-accordion-4-poi-icon:'#{$pattern-dir-img}picto/27/picto_leisure-sports.png';
$url-accordion-4-poi-icon-active: '#{$pattern-dir-img}picto/27/picto_leisure-sports.png';
$url-accordion-5-poi-icon:'#{$pattern-dir-img}picto/27/picto_culture-tourisme.png';
$url-accordion-5-poi-icon-active:'#{$pattern-dir-img}picto/27/picto_culture-tourisme.png';

// accordeon arrow
$url-arrow-accordion:'#{$pattern-dir-img}jquery-ui/ui-icons_ffffff_256x240.png';
$url-arrow-accordion-active:'#{$pattern-dir-img}jquery-ui/ui-icons_ffffff_256x240.png';
$url-arrow-accordion-hover:'#{$pattern-dir-img}jquery-ui/ui-icons_ffffff_256x240.png';
$url-arrow-accordion-focus:'#{$pattern-dir-img}jquery-ui/ui-icons_ffffff_256x240.png';
// accordeon triangle
$url-icon-triangle:'#{$pattern-dir-img}design/triangle-8x5.png';
$position-icon-triangle: 50% 50%;

// icon accordeon journey
$url-accordion-journey-icon:'#{$pattern-dir-img}picto/27/picto_modes.png';
$url-accordion-journey-icon-active:'#{$pattern-dir-img}picto/27/picto_modes_open.png';
$position-accordion-journey-icon: 2% 50%;

// icon accordeon schedule
//Stop Schedule (searchSchedule)
$position-accordion-searchschedule-icon: 10px -791px;
$position-accordion-searchschedule-icon-active: 10px -716px;
//line Schedule (lineSchedule)
$position-accordion-lineschedule-icon: 10px -931px;
$position-accordion-lineschedule-icon-active: 10px -863px;
//Multimodal Schedule (multimodalSchedule)
$position-accordion-multimodalschedule-icon: 10px -1062px;
$position-accordion-multimodalschedule-icon-active: 10px -994px;

// ********** sprite*************************************
$picture-sprite-icon:'#{$pattern-dir-img}design/sprite.png';
//position(and width/height) icon from and icon to
$position-from: 0 -345px;
$url-icon-from: '#{$pattern-dir-img}picto/24/origin.png';
$icon-width-from: 1.188em;
$icon-height-from: 1em;
$position-to: 0 -573px;
$url-icon-to: '#{$pattern-dir-img}picto/24/destination.png';
$icon-width-to: 1.188em;
$icon-height-to: 1em;

//sprite des onglets
$picure-sprite-tabs:'#{$pattern-dir-img}picto/27/tabs_sprite.png';
$icon-tabs-height: 27px;
$icon-tabs-width: 27px;

//icon arret
$icon-stop:'#{$pattern-dir-img}picto/24/stop.png';
$icon-stop-height: 1.500em;
$icon-stop-width: 1.500em;

// icon proximity list
//default icon
$url-icon-poi:'#{$pattern-dir-img}picto/24/poi.png';
$icon-poi-width: 1.500em;
$icon-poi-height: 1.500em ;
// urls stop point/stoparea icons poi
$url-icon-stoppoint:'#{$pattern-dir-img}picto/24/stop.png';
$icon-stoppoint-height: 1.500em;
$icon-stoppoint-width: 1.500em;
$url-icon-stoparea:'#{$pattern-dir-img}picto/24/stop.png';
$icon-stoparea-height: $icon-stoppoint-height;
$icon-stoparea-width: $icon-stoppoint-height;
// url other icon  poi
$icon-other-proxi-height: 2.125em;
$icon-other-proxi-width: 2.125em;
$url-icon-prls:'#{$pattern-dir-img}picto/24/relay_parking.png';
$url-icon-commerces:'#{$pattern-dir-img}picto/24/pos.png';
$url-icon-culture:'#{$pattern-dir-img}picto/24/library.png';
$url-icon-airesdeservices:'#{$pattern-dir-img}picto/24/library.png';
$url-icon-airesdestationnement :'#{$pattern-dir-img}picto/24/carpooling.png';
$url-icon-sports:'#{$pattern-dir-img}picto/24/leisure.png';
$url-icon-loisirs:'#{$pattern-dir-img}picto/24/leisure.png';
$url-icon-patrimoinenaturel:'#{$pattern-dir-img}picto/24/parks.png';
$url-icon-sorties:'#{$pattern-dir-img}picto/24/show.png';
$url-icon-equipementvelo:'#{$pattern-dir-img}picto/24/abri_velo.png';
$url-icon-pvlo:'#{$pattern-dir-img}picto/24/bicycle_parking.png';
$url-icon-infrastructurestouristiques:'#{$pattern-dir-img}picto/24/information.png';
$url-icon-patrimoineculturel:'#{$pattern-dir-img}picto/24/monument.png';
$url-icon-sante:'#{$pattern-dir-img}picto/24/health.png';
$url-icon-education:'#{$pattern-dir-img}picto/24/education.png';
$url-icon-administration:'#{$pattern-dir-img}picto/24/administration.png';
$url-icon-social:'#{$pattern-dir-img}picto/24/administration.png';
$url-icon-pointsdevente:'#{$pattern-dir-img}picto/24/pos.png';
$url-icon-pointsservices:'#{$pattern-dir-img}picto/24/information.png';

// url icon covoiturage
$url-icon-covoiturage:'#{$pattern-dir-img}picto/24/carpooling.png';
// url icon tad
$icon-tad-height: 2.125em;
$icon-tad-width: 2.125em;
$url-icon-tad:'#{$pattern-dir-img}modes/odt.png';
// url icon for pop up
$url-icon-listpoi-from:'#{$pattern-dir-img}picto/22/listpoi_from.png';
$url-icon-listpoi-to:'#{$pattern-dir-img}picto/22/listpoi_to.png';
$url-icon-listpoi-favoris:'#{$pattern-dir-img}picto/22/listpoi_favorites.png';

//url icon type zone
$url-icon-pic-height: 4.3em;
$url-icon-pic-width: 3.5em;
$url-icon-pic-address:'#{$pattern-dir-img}picto/22/pic-address.png'; // adress
$url-icon-pic-administrative-region:'#{$pattern-dir-img}picto/22/pic-administrative_region.png'; //commune
$url-icon-pic-poi:'#{$pattern-dir-img}picto/22/pic-poi.png'; // poi
$url-icon-pic-stop-area:'#{$pattern-dir-img}picto/22/pic-stop_area.png'; // stop_area

// auto-complete
$position-img-autocomple: 0.5em 50%;

//breadcrumb
$url-img-breadcrumb:'#{$pattern-dir-img}design/breadcrumb.png';
$position-img-breadcrumb: 0 50%;

//ligne séparation time (block gauche)
$url-line-summary :'#{$pattern-dir-img}design/bg-line-frise.png';
$url-line-summary-hover :'#{$pattern-dir-img}design/bg-hover-line-frise.png';
$position-line-summary: 0 95%;

// alert picto
$url-icon-alert: '#{$pattern-dir-img}picto/28/alert.png';
$url-icon-news: '#{$pattern-dir-img}picto/28/news.png';
$url-icon-warning: '#{$pattern-dir-img}picto/28/warning.png';
/* ===================================== vars  =============*/

// mixin icon-bg-label
// var  pour l'espace entre icon et le txt
$space-padding-left-icon: 0.30em;

// height block .ctp-info-points (block gauche)
$height-info-points: 1.500em;

//height block .ctp-line-summary span (block gauche)
$height-span-line-summary:  1.5em;

//width border radius for btn reverse
$width-border-radius-reverse:  0.125em;
//padding for btn reverse
$paddng-reverse: 0.35em;
// height btn reverse summary
$height-summary-reverse: 2em;

// taille des titres contenu endacdré (block-style-framed)
// Pas besoin unité car la mixin font-size la rajoutera.
$font-size-title-framed: 1;

// smart-banner
$smart-banner-background: '#{$pattern-dir-img}jquery-smartbanner/dark_background_stripes.gif';

$space: 1em;
$space-half : $space/2;
$pad : 1em;
$pad-half : $pad/2;
$color-main: $color-main-one;