<ul class="footer-bottom honrizontal-nav right">
	<li><a href="{{ url }}">Mentions légales</a></li>
	<li><a href="{{ url }}">Contactez-nous</a></li>
	<li><a href="{{ url }} ">Plan du site</a></li>
</ul>