<div class="breadcrumb">
    <ul class="clearfix" id="breadcrumb">
        <li class="label">Vous êtes ici :</li>
        <li>
            <a href="/fr">Accueil</a>
        </li>
        <li>
            <a href="/fr/contact">Contactez-nous</a>
        </li>
        <li>
            <span>Confirmation</span>
        </li>
    </ul>
</div>