<div class="top-nav hr-bottom clearfix">
   <ul class=" nav honrizontal-nav right">
        <li><a href="#">Accessibilité </a></li>
        <li><a href="#">Besoin D'aide ? </a></li>
         <li>   
            <form method="post" action="/fr/switch" id="ctp-switch-language">
                {% include 'atoms-select-menu-lang' %}
                <input type="submit" id="submit" value="OK" style="display: none;">
            </form>
        </li>
    </ul>
</div>