<ol class="pagination">
    <li class="pagination-previous">
        <a href="{{ url }}">
            <strong><i class="icon-arrow-left"></i></strong> Page précédente
        </a>
    </li>
    <li><a href="{{ url }}">1</a></li>
    <li><span><strong>2</strong></span></li>
    <li><a href="{{ url }}">3</a></li>
    <li><a href="{{ url }}">4</a></li>
    <li class="pagination-next">
        <a href="{{ url }}">
            Page suivante <strong><i class="icon-arrow-right"></i></strong>
        </a>
    </li>
</ol>