<div class="flash-message {{ #type }}flash-{{ type }}{{ /type }} {{^icon}}flash-icon-tick{{/icon}}">
    {{ #title }}
        <p class="flash-title uppercase">{{ title }}</p>
    {{ /title }}
    <ul>
        <li class="last">
            {{ #messages.0 }}
                {{ messages.0 }}
            {{ /messages }}
            Default message...
        </li>
    </ul>
</div>