<div class="block-section bg clearfix">
    <div class="section-type">
        <div class="bloc-left">
            <div class="network">
                <img src="../../images/sample/network_SNCF.png" title="{{ image.sample.network.title }}" alt="{{ image.sample.network.alt }}">
            </div>
            <div class="picto">
                <img src="../../images/sample/train.png" title="{{ image.sample.network.title }}" alt="{{ image.sample.network.alt }}">
            </div>
        </div>
        <div class="info">
            <ul class="section-type-details bg">
                <li class="clearfix">
                    <span class="time">11h19</span>
                    <span class="stop">
                        Prendre le Train numéro 14058 à la gare de Tours (Tours) en direction de gare de Paris-Austerlitz (Paris)
                    </span>
                </li>
                <li class="clearfix">
                    <span class="time">12h46</span>
                    <span class="stop">
                         Descendre à la gare de Aubrais-(les) (Fleury-les-Aubrais)
                    </span>
                </li>
                <li class="duration clearfix" data-duration="5220">Durée: 1 h 27 min</li>
            </ul>
            <div class="other-info">
                <div class="bloc-left">&nbsp;</div>
                <div class="bloc-right">
                    {{> molecules-accordion}}
                </div>
            </div>
        </div>
    </div>
</div>