<div class="col-4 col-md-6">
    <div class="st0">
        <form class="" id="" action="#" method="get" name="name">
            <div class="group-list">
                <h3 class="title-radio-list">De</h2>
                <fieldset>
                  <legend class="subtitle-radio-list title-icon stop_area">Arrêt</legend>
                  <ul class="radio-list items-left">
                    <li class="odd radio-item">
                        <input type="radio" id="search0" name="search">
                        <label for="search0"><strong class="highlight">Gare</strong>(Rennes)</label>
                    </li>
                    <li class="even radio-item">
                        <input type="radio" id="search1" name="search" >
                        <label for="search1">Pré <strong class="highlight">Gare</strong>(Rennes)</label>
                    </li>
                    <li class="odd radio-item">
                        <input type="radio" id="search2" name="search">
                        <label for="search2"><strong class="highlight">Gare</strong> de la Poterie(Rennes)</label>
                    </li>
                    <li class="even radio-item">
                        <input type="radio" id="search3" name="search">
                        <label for="search3"><strong class="highlight">Gare</strong> Sud Féval(Rennes)</label>
                    </li>
                    <li class="odd radio-item">
                        <input type="radio" id="search4" name="search" >
                        <label for="search4">Ceson<strong class="highlight">Gare</strong>(Ceson-Sévigné)</label>
                    </li>
                    <li class="even radio-item">
                        <input type="radio" id="search5" name="search" >
                        <label for="search5"><strong class="highlight">Gare</strong> de Bruz(Bruz)</label>
                    </li>
                    <li class="odd radio-item">
                        <input type="radio" id="search6" name="search" >
                        <label for="search6"><strong class="highlight">Gare</strong> de Pontchaillou(Rennes)</label>
                    </li>
                  </ul>
                </fieldset>
                <fieldset>
                  <legend class="subtitle-radio-list title-icon address">Adresse</legend>
                  <ul class="radio-list items-left">
                    <li class="odd radio-item">
                        <input type="radio" id="search7" name="search">
                        <label for="search7"><strong class="highlight">Gare</strong>(Rennes)</label>
                    </li>
                    <li class="even radio-item">
                        <input type="radio" id="search8" name="search" >
                        <label for="search8">Pré <strong class="highlight">Gare</strong>(Rennes)</label>
                    </li>
                  </ul>
                </fieldset>
            </div>
            <div class="group-list">
                <h3 class="title-radio-list">Vers</h2>
                <fieldset>
                  <legend class="subtitle-radio-list title-icon stop_area">Arrêt</legend>
                  <ul class="radio-list items-left">
                    <li class="odd radio-item">
                        <input type="radio" id="search9" name="search">
                        <label for="search9"><strong class="highlight">Gare</strong>(Rennes)</label>
                    </li>
                    <li class="even radio-item">
                        <input type="radio" id="search10" name="search" >
                        <label for="search10">Pré <strong class="highlight">Gare</strong>(Rennes)</label>
                    </li>
                    <li class="odd radio-item">
                        <input type="radio" id="search11" name="search">
                        <label for="search11"><strong class="highlight">Gare</strong> de la Poterie(Rennes)</label>
                    </li>
                    <li class="even radio-item">
                        <input type="radio" id="search12" name="search">
                        <label for="search12"><strong class="highlight">Gare</strong> Sud Féval(Rennes)</label>
                    </li>
                    <li class="odd radio-item">
                        <input type="radio" id="search13" name="search" >
                        <label for="search13">Ceson<strong class="highlight">Gare</strong>(Ceson-Sévigné)</label>
                    </li>
                    <li class="even radio-item">
                        <input type="radio" id="search14" name="search" >
                        <label for="search14"><strong class="highlight">Gare</strong> de Bruz(Bruz)</label>
                    </li>
                    <li class="odd radio-item">
                        <input type="radio" id="search15" name="search" >
                        <label for="search15"><strong class="highlight">Gare</strong> de Pontchaillou(Rennes)</label>
                    </li>
                  </ul>
                </fieldset>
            </div>
            <div class="groupe-btn">
                 <button type="button" class="btn secondary full-width" title="valider le formulaire">
                    Valider
                 </button>
            </div>
        </form>
    </div>
</div>