<div class="row col-10 clearfix">
    <div class="col-6 block-style-2 row-3 wrap-content clearfix">
        <div class="bg-color-default wrap-preface">
            <img src="../../images/fpo_square.png" class="img-article">
            <div class="preface preface-default clearfix">
                <h2 class="tile-article middle uppercase"> Rentrée universitaire </h2>
                <p> De nouveaux tarifs et carte de voyage pour les étudiants.</p>
                <a href="#" title="Lire la suite" class="btn only-icon icon-arrow-right right link-article">
                    <span class=""></span>
                    <span class="sr-only">Lire la suite</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-4 block-style-2 row-3 wrap-content clearfix">
        <div class="wrap-preface bg-color-default">
            <img src="../../images/fpo_square.png" class="img-article">
            <div class="preface preface-default clearfix">
                <h2 class="tile-article middle uppercase"> Rentrée universitaire </h2>
                <p> De nouveaux tarifs et carte de voyage pour les étudiants.</p>
                <a href="#" title="Lire la suite" class="btn only-icon icon-arrow-right right link-article">
                    <span class="sr-only">Lire la suite</span>
                </a>
            </div>
        </div>
    </div>
</div>