<div class="accordion">
    <a href="#" class="acc-handle active"> Mode de Transports </a>
    <div class="acc-panel acc-panel-border state-active">
        {{> atoms-checkbox-icon }}
    </div>
</div>