<form class="" id="" action="#" method="get" name="name">
    <div class="group-list">
        <h3 class="title-radio-list" title="Liste de départ">De</h2>
        <fieldset>
          <legend class="subtitle-radio-list title-icon stop_area">Arrêt</legend>
          <ul class="radio-list items-left">
            <li class="odd radio-item">
                <input type="radio" id="search0" name="search">
                <label for="search0"><strong class="highlight">Gare</strong>(Rennes)</label>
            </li>
            <li class="even radio-item">
                <input type="radio" id="search1" name="search" >
                <label for="search1">Pré <strong class="highlight">Gare</strong>(Rennes)</label>
            </li>
            <li class="odd radio-item">
                <input type="radio" id="search2" name="search">
                <label for="search2"><strong class="highlight">Gare</strong> de la Poterie(Rennes)</label>
            </li>
            <li class="even radio-item">
                <input type="radio" id="search3" name="search">
                <label for="search3"><strong class="highlight">Gare</strong> Sud Féval(Rennes)</label>
            </li>
            <li class="odd radio-item">
                <input type="radio" id="search4" name="search" >
                <label for="search4">Ceson<strong class="highlight">Gare</strong>(Ceson-Sévigné)</label>
            </li>
            <li class="even radio-item">
                <input type="radio" id="search5" name="search" >
                <label for="search5"><strong class="highlight">Gare</strong> de Bruz(Bruz)</label>
            </li>
            <li class="odd radio-item">
                <input type="radio" id="search6" name="search" >
                <label for="search6"><strong class="highlight">Gare</strong> de Pontchaillou(Rennes)</label>
            </li>
          </ul>
        </fieldset>
    </div>
</form>