<div class="search_date clearfix field-container ">
    <div class="group-date with_label clearfix">
        {% set dataLabel = {'id': attributes.id|default(null), 'state': state|default(null), 'required': required|default(false), 'label': label} %}
        {% if label_position|default('before') == 'before' %}
            {% include 'atoms-label' with dataLabel only %}
        {% endif %}
        <input {% if class is not empty %}class="{{ class }}"{% endif %}
        {% for key, value in attributes %}
            {% if key != 'class' %}
                {{ key }}="{{ value }}"
            {% endif %}
        {% endfor %}>
        <ul class="list-input-icons">
            <li><button type="button" class="ui-datepicker-trigger input-icons pos-right" aria-haspopup="true" title="Ouvrir le calendrier">
                <span class="keolis-icon-calendar" title="Ouvrir le calendrier"></span>
                <span class="sr-only">Ouvrir le calendrier</span>
            </button></li>
        </ul>
    </div>
</div>