<div class="field-container clearfix">
    <label for="text">Text Input <abbr title="Required">*</abbr></label>
    <div class="icon-inside-input left">
        <input id="text" type="text" placeholder="Text Input">
        <span class="icon-clear">x</span>
    </div>
    <ul class="iconable-group input-group-btn left">
        <li><a title="Se géolocaliser" href="#" class="btn" id="geolocButton">
            <span class="icon-journey-location"></span>
            <span class="sr-only">Se géolocaliser</span>
        </a></li>
    </ul>
</div>
