<div class="field-container clearfix">
    <label class="hide" for="text">Text Input <abbr title="Required">*</abbr></label>
    <div class="icon-inside-input left">
        <span class="inner-iput-text" title="Arrivée vers">Vers</span>
        <input id="text" type="text" placeholder="Saisir un arrêt, une adresse, une communue" class="inner-icons">
        <ul class="list-input-icons">
            <li><span class="icon-clear" title="Effacer le champs">x</span></li>
            <li><a title="Se géolocaliser" href="#" class="" id="geolocButton">
                <span class="keolis-icon-geoloc"></span>
                <span class="sr-only">Se géolocaliser</span>
            </a></li>
            <li><a title="Ajouter en favoris" href="#" class="input-icons pos-right" id="favoris">
                <span class="keolis-icon-star-empty"></span>
                <span class="sr-only">favoris</span>
            </a></li>
       </ul>
    </div>
</div>
