@font-face {
	font-family: 'keolis-icons';
	src:url('fonts/keolis-icons.eot?zde6ok');
	src:url('fonts/keolis-icons.eot?zde6ok#iefix') format('embedded-opentype'),
		url('fonts/keolis-icons.ttf?zde6ok') format('truetype'),
		url('fonts/keolis-icons.woff?zde6ok') format('woff'),
		url('fonts/keolis-icons.svg?zde6ok#keolis-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="keolis-icon-"], [class*=" keolis-icon-"] {
	font-family: 'keolis-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.keolis-icon-traffic_cone:before {
    content: "\e600";
}
.keolis-icon-warning_sign:before {
    content: "\e601";
}
.keolis-icon-warning_alert:before {
    content: "\e602";
}
.keolis-icon-mode_car:before {
    content: "\e603";
}
.keolis-icon-mode_bike:before {
    content: "\e604";
}
.keolis-icon-mode_bus:before {
    content: "\e605";
}
.keolis-icon-mode_subway:before {
    content: "\e606";
}
.keolis-icon-mode_tramway:before {
    content: "\e607";
}
.keolis-icon-mode_train:before {
    content: "\e608";
}
.keolis-icon-mode_walk:before {
    content: "\e609";
}
.keolis-icon-wheelchair:before {
    content: "\e60a";
}
.keolis-icon-equipment_wheelchair:before {
    content: "\e60b";
}
.keolis-icon-parking:before {
    content: "\e60c";
}
.keolis-icon-hambuger:before {
    content: "\e60d";
}
.keolis-icon-geoloc:before {
    content: "\e60e";
}
.keolis-icon-location:before {
    content: "\e60f";
}
.keolis-icon-arrow-right:before {
    content: "\e610";
}
.keolis-icon-reverse:before {
    content: "\e611";
}
.keolis-icon-calendar:before {
    content: "\e614";
}
.keolis-icon-print:before {
    content: "\e615";
}
.keolis-icon-download:before {
    content: "\e616";
}
.keolis-icon-mail:before {
    content: "\e617";
}
.keolis-icon-star:before {
    content: "\e618";
}
.keolis-icon-star_empty:before {
    content: "\e619";
}
.keolis-icon-cog:before {
    content: "\e61a";
}
.keolis-icon-login:before {
    content: "\e61b";
}
.keolis-icon-logout:before {
    content: "\e61c";
}
.keolis-icon-clock:before {
    content: "\e61d";
}
.keolis-icon-facebook:before {
    content: "\e612";
}
.keolis-icon-twitter:before {
    content: "\e613";
}
.keolis-icon-youtube:before {
    content: "\e900";
}
.keolis-icon-viadeo:before {
    content: "\e901";
}
.keolis-icon-in:before {
    content: "\e61f";
}
.keolis-icon-yahoo:before {
    content: "\e61e";
}
.keolis-icon-outlook:before {
    content: "\e620";
}
.keolis-icon-google_plus:before {
    content: "\e621";
}
.keolis-icon-google:before {
    content: "\e622";
}
.keolis-icon-detour:before {
    content: "\e623";
}
.keolis-icon-rss:before {
    content: "\e624";
}
.keolis-icon-pdf:before {
    content: "\e625";
}
.keolis-icon-fast_walker:before {
    content: "\e626";
}
.keolis-icon-standard:before {
    content: "\e627";
}
.keolis-icon-slow_walker:before {
    content: "\e628";
}

