$icon-traffic_cone: "\e600";
$icon-warning_sign: "\e601";
$icon-warning_alert: "\e602";
$icon-mode_car: "\e603";
$icon-mode_bike: "\e604";
$icon-mode_bus: "\e605";
$icon-mode_subway: "\e606";
$icon-mode_tramway: "\e607";
$icon-mode_train: "\e608";
$icon-mode_walk: "\e609";
$icon-wheelchair: "\e60a";
$icon-equipment_wheelchair: "\e60b";
$icon-parking: "\e60c";
$icon-hambuger: "\e60d";
$icon-geoloc: "\e60e";
$icon-location: "\e60f";
$icon-arrow-right: "\e610";
$icon-reverse: "\e611";
$icon-facebook: "\e612";
$icon-twitter: "\e613";
$icon-calendar: "\e614";
$icon-print: "\e615";
$icon-download: "\e616";
$icon-mail: "\e617";
$icon-star: "\e618";
$icon-star_empty: "\e619";
