$icon-traffic_cone: "\e600";
$icon-warning_sign: "\e601";
$icon-mode_car: "\e602";
$icon-mode_bike: "\e603";
$icon-mode_bus: "\e604";
$icon-mode_subway: "\e605";
$icon-mode_tramway: "\e606";
$icon-mode_train: "\e607";
$icon-mode_walk: "\e608";
$icon-wheelchair: "\e609";
$icon-equipment_wheelchair: "\e60a";
$icon-parking: "\e60b";
$icon-arrow-right: "\e60c";
$icon-location: "\e60d";
