$icon-traffic_cone: "\e600";
$icon-warning_sign: "\e601";
$icon-warning_alert: "\e60e";
$icon-mode_car: "\e602";
$icon-mode_bike: "\e603";
$icon-mode_bus: "\e604";
$icon-mode_subway: "\e605";
$icon-mode_tramway: "\e606";
$icon-mode_train: "\e607";
$icon-mode_walk: "\e608";
$icon-wheelchair: "\e609";
$icon-equipment_wheelchair: "\e60a";
$icon-parking: "\e60b";
$icon-hambuger: "\e66d";
$icon-geoloc: "\e635";
$icon-location: "\e60d";
$icon-arrow-right: "\e60c";
$icon-reverse: "\e633";
$icon-facebook: "\e65c";
$icon-twitter: "\e65d";
$icon-calendar: "\e646";
$icon-download: "\e658";
$icon-mail: "\e643";
$icon-star: "\e60f";
$icon-star_empty: "\e610";
