
// Centered container element
@mixin container-fixed() {
    margin-right: auto;
    margin-left: auto;
    padding-left:  1.2em;
    padding-right: 0.5em;
    @include clearfix();
}

/**
 * Style for a row in a grid system
 * @TODO make margin editable with variable (gutter width)
 */
@mixin content-row {
    @include clearfix;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

/**
 * Style for a zone in a grid system
 * @TODO make padding editable with variable (gutter width)
 */
@mixin content-zone {
    float: left;
    min-height: 1px;
    position: relative;
}

/**
 * Style for a column in a grid system
 * @TODO make padding editable with variable (gutter width)
 */
@mixin content-col {
    @include content-zone;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
