/**
 * Creates a cross-browser rgba background color.
 * @param $red red color component
 * @param $green green color component
 * @param $blue blue color component
 * @param $alpha alpha color component
 */
@mixin background-rgba($red: 0, $green: 0, $blue: 0, $alpha: 0.5){
    background-color: rgb($red, $green, $blue);
    background-color: rgba($red, $green, $blue, $alpha);

    @include has-layout;
    background-color: transparent\9;
    $color: rgba($red, $green, $blue, $alpha);
    @include filter-gradient($color, $color);
}

/**
 * Block style and  variants
 * @param $primary-color
 * @param $second-color
 */
@mixin block-style ($primary-color: $color-main, $second-color: $white) {
    & > a {
        div {
            padding: 1em;
            min-height: 10em;
        }
    }
    .bg-color-default,
    .bg-color-primary,
    .preface-default {
        background-color: $primary-color;
        color: $second-color;
        h1, h2, h3, h4, h5, h6 {
            color: $second-color;
            font-weight: normal;
            font-size: 1rem;
        }
    }
    .bg-color-default,
    .preface-default {
        &:hover {
            background-color: desaturate(lighten($primary-color, 10), 20%);
        }
    }
    .preface-default {
        min-height: 2em;
    }
    .bg-color-default,
    .bg-color-primary {
        min-height: 10em;
    }
    .bg-default {
        background-color: $color-white;
        color: $color-typo-dark;
        &.font-default {
            color: $color-typo-dark;
        }
    }
    .border-default,
    &.border-default {
        border: 1px solid $primary-color;
    }
    .btn-style1,
    .btn-style2 {
        padding: 0.2em 0.4em;
    }
    .bg-default.border-default {
        padding: 0.45em;
    }
    .btn-small {
        color: $primary-color;
        background-color: contrast-color($primary-color, $color-typo-dark, $color-typo-light);
    }
}