/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {
    & ol, & ul {
        list-style: none;
        margin-left: 0;
    }
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  label {
    display: block;
    padding-bottom: $space-half;
  }

  input, textarea {
    width: 100%;
    border: 1px solid $gray;
    padding: $pad-half 0.65rem;
  }

  input[type=text], input[type=search], input[type=url], input[type=number], textarea {
    -webkit-appearance: none;
  }



  //Form Field Container
  .field-container {
    margin-bottom: $space;
  }

  .inline-form {
    fieldset, .inline-container {
      position: relative;
    }


  }

  /* Validation */
  .has-error {
    border-color: $error;
  }
  .is-valid {
    border-color: $valid;
  }


