@font-face {
	font-family: 'keolis-icons';
	src:url('../fonts/keolis/keolis-icons.eot?lc4hd5');
	src:url('../fonts/keolis/keolis-icons.eot?#iefixlc4hd5') format('embedded-opentype'),
		url('../fonts/keolis/keolis-icons.woff?lc4hd5') format('woff'),
		url('../fonts/keolis/keolis-icons.ttf?lc4hd5') format('truetype'),
		url('../fonts/keolis/keolis-icons.svg?lc4hd5#keolis-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="keolis-icon-"], [class*=" keolis-icon-"] {
	font-family: 'keolis-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
    font-size: $font-size-large-2;
	text-transform: none;
	line-height: 1;
    vertical-align: -25%;
    position: relative;
    z-index: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.keolis-icon-traffic-cone:before {
	content: "\e600";
}
.keolis-icon-warning-sign:before {
	content: "\e601";
}
.keolis-icon-mode-car-light:before {
	content: "\e602";
}
.keolis-icon-mode-car-dark:before {
	content: "\e603";
}
.keolis-icon-mode-bike-light:before {
	content: "\e604";
}
.keolis-icon-mode-bike-dark:before {
	content: "\e605";
}
.keolis-icon-mode-bus-light:before {
	content: "\e606";
}
.keolis-icon-mode-bus-dark:before {
	content: "\e607";
}
.keolis-icon-mode-subway-light:before {
	content: "\e608";
}
.keolis-icon-mode-subway-dark:before {
	content: "\e609";
}
.keolis-icon-mode-tramway-light:before {
	content: "\e60a";
}
.keolis-icon-mode-tramway-dark:before {
	content: "\e60b";
}
.keolis-icon-mode-train-light:before {
	content: "\e60c";
}
.keolis-icon-mode-train-dark:before {
	content: "\e60d";
}
.keolis-icon-mode-walk-light:before {
	content: "\e60e";
}
.keolis-icon-mode-walk-dark:before {
	content: "\e60f";
}
.keolis-icon-wheelchair-light:before {
	content: "\e610";
}
.keolis-icon-wheelchair-dark:before {
	content: "\e611";
}
.keolis-icon-equipment-wheelchair-light:before {
	content: "\e612";
}
.keolis-icon-equipment-wheelchair-dark:before {
	content: "\e613";
}
.keolis-icon-parking-light:before {
	content: "\e614";
}
.keolis-icon-parking-dark:before {
	content: "\e615";
}
.keolis-icon-circle-mode-car:before {
	content: "\e616";
}
.keolis-icon-circle-mode-bike:before {
	content: "\e617";
}
.keolis-icon-circle-mode-bus:before {
	content: "\e618";
}
.keolis-icon-circle-mode-subway:before {
	content: "\e619";
}
.keolis-icon-circle-mode-tramway:before {
	content: "\e61a";
}
.keolis-icon-circle-mode-train:before {
	content: "\e61b";
}
.keolis-icon-circle-mode-walk:before {
	content: "\e61c";
}
.keolis-icon-circle-wheelchair:before {
	content: "\e61d";
}
.keolis-icon-circle-equipment-wheelchair:before {
	content: "\e61e";
}
.keolis-icon-circle-parking:before {
	content: "\e61f";
}
