@import "../fonts/keolis/reference/variables";

@font-face {
    font-family: 'keolis-icons';
    src:url('../fonts/keolis/keolis-icons.eot?lc4hd5');
    src:url('../fonts/keolis/keolis-icons.eot?#iefixlc4hd5') format('embedded-opentype'),
    url('../fonts/keolis/keolis-icons.woff?lc4hd5') format('woff'),
    url('../fonts/keolis/keolis-icons.ttf?lc4hd5') format('truetype'),
    url('../fonts/keolis/keolis-icons.svg?lc4hd5#keolis-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="keolis-icon-"], [class*=" keolis-icon-"] {
    font-family: 'keolis-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    z-index: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.square {
        padding: 0.3em;
        background: $gray-dark;
        color: $font-color-contrast-main;
    }
    &.round {
        @extend .square;
        border-radius: 50%;
    }
}

.keolis-icon-traffic-cone:before {
    content: $icon-traffic_cone;
}
.keolis-icon-warning-sign:before {
    content: $icon-warning_sign;
}
.keolis-icon-warning-alert:before {
    content: $icon-warning_alert;
}
.keolis-icon-mode-car:before {
    content: $icon-mode_car;
}
.keolis-icon-mode-bike:before {
    content: $icon-mode_bike;
}
.keolis-icon-mode-bus:before {
    content: $icon-mode_bus;
}
.keolis-icon-mode-subway:before {
    content: $icon-mode_subway;
}
.keolis-icon-mode-tramway:before {
    content: $icon-mode_tramway;
}
.keolis-icon-mode-train:before {
    content: $icon-mode_train;
}
.keolis-icon-mode-walk:before {
    content: $icon-mode_walk;
}
.keolis-icon-wheelchair:before {
    content: $icon-wheelchair;
}
.keolis-icon-equipment-wheelchair:before {
    content: $icon-equipment_wheelchair;
}
.keolis-icon-parking:before {
    content: $icon-parking;
}
.keolis-icon-hamburger:before {
    content: $icon-hambuger;
}
.keolis-icon-geoloc:before {
    content: $icon-geoloc;
}
.keolis-icon-location:before {
    content: $icon-location;
}
.keolis-icon-arrow-right:before {
    content: $icon-arrow-right;
}
.keolis-icon-reverse:before {
    content: $icon-reverse;
}
.keolis-icon-facebook:before {
    content: $icon-facebook;
}
.keolis-icon-twitter:before {
    content: $icon-twitter;
}
.keolis-icon-calendar:before {
    content: $icon-calendar;
}
.keolis-icon-print:before {
    content: $icon-print;
}
.keolis-icon-download:before {
    content: $icon-download;
}
.keolis-icon-mail:before {
    content: $icon-mail;
}
.keolis-icon-star:before {
    content: $icon-star;
}
.keolis-icon-star-empty:before {
    content: $icon-star_empty;
}
