<div class="element-type-auto-list col-10 row-3">
    <div class="element-style-blank">
        {% for article in articlesx1 %}
            {% include 'molecules-article' with article only %}
        {% endfor %}
    </div>
</div>
<div class="element-type-auto-list col-10 row-3">
    <div class="element-style-blank">
        {% for article in articlesx2 %}
            {% include 'molecules-article' with article only %}
        {% endfor %}
    </div>
</div>
<div class="element-type-auto-list col-10 row-3">
    <div class="element-style-blank">
        {% for article in articlesx3 %}
            {% include 'molecules-article' with article only %}
        {% endfor %}
    </div>
</div>
<div class="element-type-auto-list col-10 row-3">
    <div class="element-style-blank">
        {% for article in articlesx4 %}
            {% include 'molecules-article' with article only %}
        {% endfor %}
    </div>
</div>