<div class="element-type-auto-list col-10 row-3">
    <div class="element-style-blank">
        {{# articles-x1 }}
            {{> molecules-article }}
        {{/ articles-x1 }}
    </div>
</div>
<div class="element-type-auto-list col-10 row-3">
    <div class="element-style-blank">
        {{# articles-x2 }}
            {{> molecules-article }}
        {{/ articles-x2 }}
    </div>
</div>
<div class="element-type-auto-list col-10 row-3">
    <div class="element-style-blank">
        {{# articles-x3 }}
            {{> molecules-article }}
        {{/ articles-x3 }}
    </div>
</div>
<div class="element-type-auto-list col-10 row-3">
    <div class="element-style-blank">
        {{# articles-x4 }}
            {{> molecules-article }}
        {{/ articles-x4 }}
    </div>
</div>